In [1]:
import pandas as pd

In [33]:
df = pd.read_csv("polarization1995_data.csv")

In [34]:
df.columns += '_1995'

In [36]:
df = df.drop('Unnamed: 0_1995', axis=1)

In [39]:
df.to_csv('polarization1995_data.csv')

In [43]:
df_2000 = pd. read_csv("polarization2000_data.csv")
df_2004 = pd.read_csv("polarization2004_data.csv")
df_1995 = pd.read_csv("polarization1995_data.csv")

In [48]:
df_2000.columns += '_2000'
df_2004.columns += '_2004'

In [49]:
df_2000

,Unnamed: 0_2000,std_dev_age_2000,native_share_2000,education_variability_2000,nuts118nm_2000,job_variability_2000,frac_employed_2000,median_income_2000,gini_index_2000,Lindqvist_Ostling_S1_2000,Abramowitz_Saunders_S1_2000,Duca_Saving_S1_2000,Lindqvist_Ostling_S2_2000,Abramowitz_Saunders_S2_2000,Duca_Saving_S2_2000,Lindqvist_Ostling_S3_2000,Abramowitz_Saunders_S3_2000,Duca_Saving_S3_2000,admin1_code_2000
0,0,18.275323,0.958919,462.0,East Midlands,462.0,0.511351,8678.311,0.449646,0.678167,0.582630,0.946555,0.880662,0.724691,1.416502,1.105940,0.926980,1.983359,UK_3
1,1,18.773603,0.959739,459.0,East of England,459.0,0.503808,9591.966,0.493658,0.745150,0.618992,1.015369,0.894472,0.724057,4.722817,1.055867,0.877069,2.056166,UK_5
2,2,18.378665,0.923409,463.0,London,463.0,0.514563,10688.222,0.505179,0.824210,0.683649,2.306835,0.989267,0.789474,3.302728,1.160025,0.937500,5.162416,UK_6
3,3,18.756243,0.974206,251.5,North East,251.5,0.466270,8281.648,0.456207,0.770024,0.666667,0.574462,0.955132,0.770089,4.428563,1.141374,1.002232,0.817068,UK_0
4,4,18.888780,0.972397,633.5,North West,633.5,0.495268,9418.572,0.455936,0.837100,0.660854,2.728407,0.971480,0.766071,3.674518,1.162476,0.972172,2.838004,UK_1
5,5,18.180234,0.969923,1745.0,Scotland,1745.0,0.486107,8709.897,0.453888,0.820432,0.699466,1.579434,0.973958,0.790968,1.885656,1.125558,0.965997,1.349256,UK_10
6,6,18.342758,0.952381,734.5,South East,734.5,0.521769,10013.899,0.463005,0.646346,0.568468,0.430655,0.907561,0.744776,1.966269,1.095113,0.894461,5.264233,UK_7
7,7,19.189720,0.958635,483.0,South West,483.0,0.490176,8671.810,0.472033,0.767579,0.631461,2.223928,0.958810,0.747429,4.491554,1.061933,0.881881,3.028365,UK_8
8,8,18.570539,0.959347,1500.0,Wales,1500.0,0.410863,8300.000,0.468485,0.879592,0.718750,2.375814,1.044828,0.848289,2.144930,1.170458,0.983193,3.074358,UK_9
9,9,18.821393,0.971787,478.0,West Midlands,478.0,0.500522,8520.921,0.446613,0.735306,0.612867,1.605844,0.947477,0.759302,1.999748,1.152402,0.960280,2.401548,UK_4
10,10,19.155504,0.966463,491.5,Yorkshire & Humber,491.5,0.462398,8283.303,0.458670,0.690040,0.595344,1.336475,0.906047,0.729638,1.573341,1.040308,0.887628,3.099337,UK_2

In [51]:
df_2000 = df_2000.drop('Unnamed: 0_2000', axis=1)
df_2004 = df_2004.drop('Unnamed: 0_2004', axis=1)

In [56]:
df_1995
df_1995 = df_1995.drop('Unnamed: 0', axis=1)

In [58]:
df_1995

,std_dev_age_1995,native_share_1995,education_variability_1995,nuts118nm_1995,job_variability_1995,frac_employed_1995,median_income_1995,gini_index_1995,Lindqvist_Ostling_S1_1995,Abramowitz_Saunders_S1_1995,Duca_Saving_S1_1995,Lindqvist_Ostling_S2_1995,Abramowitz_Saunders_S2_1995,Duca_Saving_S2_1995,Lindqvist_Ostling_S3_1995,Abramowitz_Saunders_S3_1995,Duca_Saving_S3_1995,admin1_code_1995
0,18.929772,0.946183,399.0,East Midlands,399.0,0.446809,6427.445313,0.485968,0.843213,0.726141,1.394025,1.008246,0.852113,0.001214,1.131366,0.949153,1.878866,UK_3
1,18.511457,0.953883,411.5,East of England,411.5,0.470874,7721.132813,0.497099,0.853691,0.725131,1.004499,0.977064,0.828457,0.000922,1.089602,0.922667,2.041536,UK_5
2,17.650852,0.938341,445.5,London,445.5,0.487668,8279.160645,0.520353,0.858060,0.761139,0.376180,0.984581,0.873897,0.000884,1.188591,0.961929,3.195147,UK_6
3,18.640090,0.964623,211.5,North East,211.5,0.464623,6390.706543,0.455352,0.818051,0.719794,1.236752,0.978367,0.837270,0.001336,0.992494,0.950000,0.161722,UK_0
4,18.636682,0.955357,559.5,North West,559.5,0.468750,6927.100586,0.496123,0.880076,0.776119,0.954488,1.038682,0.899288,0.001155,1.091857,0.967280,1.398335,UK_1
5,18.132051,0.934602,420.0,Scotland,420.0,0.475624,6681.736328,0.497527,0.874789,0.808540,0.540013,0.962221,0.874471,0.000955,1.139900,0.988701,1.264510,UK_10
6,18.151452,0.946148,668.0,South East,668.0,0.504114,7912.114746,0.494032,0.785931,0.677075,0.894840,0.919018,0.800664,0.000520,1.080334,0.919234,1.218511,UK_7
7,19.026620,0.940828,422.0,South West,422.0,0.455621,6339.334961,0.494527,0.854575,0.723179,2.122681,1.007488,0.833784,0.002341,1.048865,0.900950,1.723318,UK_8
8,18.734239,0.947262,246.0,Wales,246.0,0.399594,6077.859863,0.458942,0.844509,0.803204,0.744511,1.055019,0.908879,0.001657,1.016852,1.011737,1.629828,UK_9
9,18.253225,0.966460,402.0,West Midlands,402.0,0.475776,6500.000000,0.484510,0.855368,0.724658,1.605215,0.997036,0.846797,0.000665,1.051652,0.914566,1.975061,UK_4
10,18.856288,0.967404,429.0,Yorkshire & Humber,429.0,0.462165,6588.619141,0.471141,0.810283,0.735589,0.855864,0.885666,0.830573,0.000352,1.085663,0.928480,1.717026,UK_2

In [67]:
df_1995.to_csv('polarisation_1995.csv')
df_2000.to_csv('polarisation_2000.csv')
df_2004.to_csv('polarisation_2004.csv')