# Polarization Calculation 2004

In [1]:
import pandas as pd
import os
import time
import numpy as np

In [2]:
os.chdir(r"A:\UW-Madison\GIS SPRING 2023\Geog 575\Final_Project\SPSS_Processed\UKDA-5151-spss\spss\spss19")

In [3]:
df_residence = pd.read_csv(r"A:\UW-Madison\GIS SPRING 2023\Geog 575\Final_Project\SPSS_Processed\UKDA-5151-spss\spss\spss19\bhps_w14\nindresp.csv")

C:\Users\ramak\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8,9,29,928,929,1047,1158,1276,1278,1281) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
print(list(df_residence.columns))

['Unnamed: 0', 'nhid', 'npno', 'ndoid', 'ndoim', 'ndoiy4', 'nivlyr', 'nivstat2', 'nivsoih', 'nivsoim', 'nlknbrd', 'nlkmove', 'nlkmovy', 'nxpmove', 'nplnew', 'nplnowm', 'nplnowy4', 'nmovjb', 'nmovjba', 'nmovjbb', 'nmovjbc', 'nmovjbd', 'nmovjbe', 'nmovjbf', 'nmovjbg', 'nmovjbh', 'nmovjbi', 'nmovy1', 'nmovy2', 'ndoby', 'nsex', 'nmlstat', 'nmlchng', 'nmlchm', 'nmlchy4', 'njbstat', 'nedlyr', 'nedtype1', 'nedblyr1', 'nedbgm1', 'nedbgy1', 'nedenm1', 'nedeny1', 'nedenne1', 'nedfeea1', 'nedfeeb1', 'nedfeec1', 'nedfeed1', 'nedfeee1', 'nedfeef1', 'nedfeeg1', 'nedqual1', 'nedqnn1', 'nedqla1', 'nedqlb1', 'nedqlc1', 'nedqld1', 'nedqle1', 'nedqlf1', 'nedqlg1', 'nedqlh1', 'nedqli1', 'nedqlj1', 'nedqlan1', 'nedqlbn1', 'nedqlcn1', 'nedqldn1', 'nedqlen1', 'nedqlfn1', 'nedqlgn1', 'nedqlhn1', 'nedqlin1', 'nedqljn1', 'nedoqln1', 'nedoql1', 'nedmore1', 'nedtype2', 'nedblyr2', 'nedbgm2', 'nedbgy2', 'nedenm2', 'nedeny2', 'nedenne2', 'nedfeea2', 'nedfeeb2', 'nedfeec2', 'nedfeed2', 'nedfeee2', 'nedfeef2', 'nedfeeg2', 'nedqual2', 'nedqnn2', 'nedqla2', 'nedqlb2', 'nedqlc2', 'nedqld2', 'nedqle2', 'nedqlf2', 'nedqlg2', 'nedqlh2', 'nedqli2', 'nedqlj2', 'nedqlan2', 'nedqlbn2', 'nedqlcn2', 'nedqldn2', 'nedqlen2', 'nedqlfn2', 'nedqlgn2', 'nedqlhn2', 'nedqlin2', 'nedqljn2', 'nedoqln2', 'nedoql2', 'nedmore2', 'nedtype3', 'nedblyr3', 'nedbgm3', 'nedbgy3', 'nedenm3', 'nedeny3', 'nedenne3', 'nedfeea3', 'nedfeeb3', 'nedfeec3', 'nedfeed3', 'nedfeee3', 'nedfeef3', 'nedfeeg3', 'nedqual3', 'nedqnn3', 'nedqla3', 'nedqlb3', 'nedqlc3', 'nedqld3', 'nedqle3', 'nedqlf3', 'nedqlg3', 'nedqlh3', 'nedqli3', 'nedqlj3', 'nedqlan3', 'nedqlbn3', 'nedqlcn3', 'nedqldn3', 'nedqlen3', 'nedqlfn3', 'nedqlgn3', 'nedqlhn3', 'nedqlin3', 'nedqljn3', 'nedoqln3', 'nedoql3', 'nyr2uk4', 'nracel', 'npaju', 'npasemp', 'npaboss', 'npamngr', 'nmaju', 'nmasemp', 'nmaboss', 'nmamngr', 'nj1none', 'nj1semp', 'nj1boss', 'nj1mngr', 'nlcoh', 'ncoh1by', 'ncoh1mr', 'ncoh1em', 'ncoh1ey', 'nnmar', 'nlmar1y', 'nlprnt', 'nlnprnt', 'nch1by', 'nschool', 'nscend', 'nsctype', 'nscnow', 'nfetype', 'nfenow', 'nfeend', 'nqfhas', 'nqfa', 'nqfb', 'nqfc', 'nqfd', 'nqfe', 'nqff', 'nqfg', 'nqfh', 'nqfi', 'nqfj', 'nqfk', 'nqfl', 'nqfm', 'nqfn', 'nqfed', 'nqfeda', 'nnqfeda', 'nqfedb', 'nnqfedb', 'nqfedc', 'nnqfedc', 'nqfedd', 'nnqfedd', 'nqfede', 'nnqfede', 'nqfedf', 'nnqfedf', 'nqfedg', 'nnqfedg', 'nqfedh', 'nnqfedh', 'nqfedi', 'nnqfedi', 'nqfedj', 'nnqfedj', 'nqfedt', 'nnqfedt', 'nqfedu', 'nnqfedu', 'nqfedk', 'nnqfedk', 'nqfedl', 'nnqfedl', 'nqfedm', 'nnqfedm', 'nqfedn', 'nnqfedn', 'nqfedo', 'nnqfedo', 'nqfedp', 'nnqfedp', 'nqfedq', 'nnqfedq', 'nqfedr', 'nnqfedr', 'nqfeds', 'nnqfeds', 'ntrain', 'nntrain', 'ntrplce1', 'ntrwhya1', 'ntrwhyb1', 'ntrwhyc1', 'ntrwhyd1', 'ntrwhye1', 'ntrq1', 'ntru1', 'ntrfeea1', 'ntrfeeb1', 'ntrfeec1', 'ntrfeee1', 'ntrfeef1', 'ntrfeeg1', 'ntrqlxp1', 'ntrqlac1', 'ntrqlnn1', 'ntrqla1', 'ntrqlb1', 'ntrqlc1', 'ntrqld1', 'ntrqle1', 'ntrqlf1', 'ntrqlg1', 'ntrqlh1', 'ntrqli1', 'ntrqlj1', 'ntrqlan1', 'ntrqlbn1', 'ntrqlcn1', 'ntrqldn1', 'ntrqlen1', 'ntrqlfn1', 'ntrqlgn1', 'ntrqlhn1', 'ntrqlin1', 'ntrqljn1', 'ntroqln1', 'ntroql1', 'ntrmore1', 'ntrplce2', 'ntrwhya2', 'ntrwhyb2', 'ntrwhyc2', 'ntrwhyd2', 'ntrwhye2', 'ntrq2', 'ntru2', 'ntrfeea2', 'ntrfeeb2', 'ntrfeec2', 'ntrfeee2', 'ntrfeef2', 'ntrfeeg2', 'ntrqlxp2', 'ntrqlac2', 'ntrqlnn2', 'ntrqla2', 'ntrqlb2', 'ntrqlc2', 'ntrqld2', 'ntrqle2', 'ntrqlf2', 'ntrqlg2', 'ntrqlh2', 'ntrqli2', 'ntrqlj2', 'ntrqlan2', 'ntrqlbn2', 'ntrqlcn2', 'ntrqldn2', 'ntrqlen2', 'ntrqlfn2', 'ntrqlgn2', 'ntrqlhn2', 'ntrqlin2', 'ntrqljn2', 'ntroqln2', 'ntroql2', 'ntrmore2', 'ntrplce3', 'ntrwhya3', 'ntrwhyb3', 'ntrwhyc3', 'ntrwhyd3', 'ntrwhye3', 'ntrq3', 'ntru3', 'ntrfeea3', 'ntrfeeb3', 'ntrfeec3', 'ntrfeee3', 'ntrfeef3', 'ntrfeeg3', 'ntrqlxp3', 'ntrqlac3', 'ntrqlnn3', 'ntrqla3', 'ntrqlb3', 'ntrqlc3', 'ntrqld3', 'ntrqle3', 'ntrqlf3', 'ntrqlg3', 'ntrqlh3', 'ntrqli3', 'ntrqlj3', 'ntrqlan3', 'ntrqlbn3', 'ntrqlcn3', 'ntrqldn3', 'ntrqlen3', 'ntrqlfn3', 'ntrqlgn3', 'ntrqlhn3', 'ntrqlin3', 'ntrqljn3', 'ntroqln3', 'ntroql3', 'npaperr', 'npaperm', 'npaperp', 'nbirhh', 'nmabwly', 'nmabwnly', 'nbwtpn1', 'nbwtagm1', 'nbwtxp1', 'nbwtel1', 'nbwtwk1', 'nbwtkn1', 'nbwtlb1', 'nbwtoz1', 'nbwtgm1', 'nbwtg51', 'nbwtpn2', 'nbwtagm2', 'nbwtxp2', 'nbwtel2', 'nbwtwk2', 'nbwtkn2', 'nbwtlb2', 'nbwtoz2', 'nbwtgm2', 'nbwtg52', 'nbwtpn3', 'nbwtagm3', 'nbwtxp3', 'nbwtel3', 'nbwtwk3', 'nbwtkn3', 'nbwtlb3', 'nbwtoz3', 'nbwtgm3', 'nbwtg53', 'nwlsha', 'nwlshb', 'nwlshc', 'nwlshd', 'nwlshe', 'nwlshua', 'nwlshub', 'nwlshuc', 'nwlshud', 'nwlshue', 'naglt20', 'nscnow2', 'ninfted', 'nedasp', 'nfedasp', 'nfedtyp', 'nfedlik', 'nfednt1', 'nfednt2', 'nocfut', 'nivda', 'nivdb', 'nivdc', 'nivdd', 'nivde', 'nhldsbl1', 'nhlstat', 'nhlprb', 'nhlprba', 'nhlprbb', 'nhlprbc', 'nhlprbd', 'nhlprbe', 'nhlprbf', 'nhlprbg', 'nhlprbh', 'nhlprbi', 'nhlprbj', 'nhlprbk', 'nhlprbl', 'nhlprbn', 'nhlprbo', 'nhlprbm', 'nhlsf1', 'nhlsf2', 'nhlsf3a', 'nhlsf3b', 'nhlsf3c', 'nhlsf3d', 'nhlsf3e', 'nhlsf3f', 'nhlsf3g', 'nhlsf3h', 'nhlsf3i', 'nhlsf3j', 'nhlsf4a', 'nhlsf4b', 'nhlsf4c', 'nhlsf4d', 'nhlsf5a', 'nhlsf5b', 'nhlsf5c', 'nhlsf6', 'nhlsf7', 'nhlsf8', 'nhlsf9a', 'nhlsf9b', 'nhlsf9c', 'nhlsf9d', 'nhlsf9e', 'nhlsf9f', 'nhlsf9g', 'nhlsf9h', 'nhlsf9i', 'nhlsf9j', 'nhlsf10a', 'nhlsf10b', 'nhlsf10c', 'nhlsf10d', 'nhl2gp', 'nhl2hop', 'nxdts', 'nnxdts', 'nhosp', 'nhospd', 'nhospch', 'nhospnhs', 'nhlcvr', 'nhlcvrh', 'nhlcvrl', 'nhlsv', 'nhlsva', 'nhlsvan', 'nhlsvaf', 'nhlsvb', 'nhlsvbn', 'nhlsvbf', 'nhlsvc', 'nhlsvcn', 'nhlsvcf', 'nhlsvd', 'nhlsvdn', 'nhlsvdf', 'nhlsve', 'nhlsven', 'nhlsvef', 'nhlsvf', 'nhlsvfn', 'nhlsvff', 'nhlsvg', 'nhlsvgn', 'nhlsvgf', 'nhlsvh', 'nhlsvhn', 'nhlsvhf', 'nhlsvi', 'nhlsvin', 'nhlsvif', 'nhlsvl', 'nhlsvln', 'nhlsvlf', 'nhlsvm', 'nhlsvmn', 'nhlsvmf', 'nhlsvj', 'nhlsvjn', 'nhlsvjf', 'nhlsvk', 'nhlsvkn', 'nhlsvkf', 'nhlck', 'nhlcka', 'nhlckan', 'nhlckb', 'nhlckbn', 'nhlckc', 'nhlckcn', 'nhlckd', 'nhlckdn', 'nhlcke', 'nhlcken', 'nhlcki', 'nhlckin', 'nhlckf', 'nhlckfn', 'nhlckg', 'nhlckgn', 'nhlckh', 'nhlckhn', 'nsmoker', 'nncigs', 'nhlhtm', 'nhlhtf', 'nhlhti', 'nhlhtc', 'nhlwtm', 'nhlwts', 'nhlwtp', 'nhlwtk', 'nhlwte', 'nhlwtl', 'nhlwtr', 'ncbagef', 'nhlpreg', 'naidhh', 'naidhua', 'naidhub', 'naidhuc', 'naidxhh', 'nnaidxhh', 'naidhu1', 'naidhu2', 'naidhrs', 'nivma', 'nivmb', 'nivmc', 'nivmd', 'nivme', 'njbhas', 'njboff', 'njboffy', 'njbterm1', 'njbterm2', 'njbsic92', 'njbsemp', 'njbmngr', 'njbsect', 'njbsize', 'njbhrs', 'njbot', 'njbotpd', 'njbhrlk', 'njbpl', 'njbttwt', 'njbttwm', 'njbsat2', 'njbsat4', 'njbsat6', 'njbsat7', 'njbsat', 'npaygl', 'npaygw', 'npaynl', 'npaynw', 'npytc', 'npywftc', 'npywftcw', 'npayslp', 'npayusl', 'npayu', 'npayuw', 'npayug', 'npaydf1', 'npaydf2', 'npaydf3', 'npaydf4', 'npaydf5', 'npaydf6', 'npaydf7', 'npaydf9', 'npaydf8', 'npaytyp', 'novtpay', 'nextrate', 'nextrest', 'nbasrate', 'nbasrest', 'novtrate', 'novtrest', 'njbperfp', 'njbonus', 'njbonam', 'njbong', 'njbrise', 'ntujbpl', 'ntuin1', 'njbopps', 'njbpen', 'njbpenm', 'njbtime', 'njbwkhra', 'njbwkhrb', 'njbwkhrc', 'njbwkhrd', 'njbwkhre', 'njbwkhrf', 'njbwkhrg', 'njbwkhrh', 'njbbgd', 'njbbgm', 'njbbgy4', 'njbbgly', 'npays', 'npaysw', 'npaysg', 'npayly', 'npaylyw', 'npaylyg', 'njsboss', 'njssize', 'njshrs', 'njshrlk', 'njstypeb', 'njsaccs', 'njspart', 'njsprbm', 'njsprby4', 'njsprem', 'njsprey4', 'njsprf', 'njsprls', 'njsprtx', 'njsprni', 'njspayu', 'njspayw', 'njspytx', 'njspyni', 'njspl', 'njsttwt', 'njsttwm', 'njssat1', 'njssat2', 'njssat4', 'njssat5', 'njssat', 'njsbgd', 'njsbgm', 'njsbgy4', 'njblkcha', 'njbxpcha', 'njblkchb', 'njbxpchb', 'njblkchc', 'njbxpchc', 'njblkchd', 'njbxpchd', 'njblkche', 'njbxpche', 'njbstrna', 'njbstrnb', 'njbstrnc', 'njbstrnd', 'nrach12', 'njbchc1', 'njbchc2', 'njbchc3', 'nxpchcf', 'nxpchc', 'nhuxpch', 'nhunurs', 'njulk1', 'njulk4', 'njulka', 'njulkb', 'njulkc', 'njulkd', 'njulke', 'njulkjb', 'njubgn', 'njuspec', 'njuhrsx', 'njupayx', 'njupayl', 'njuhrsl', 'neprosh', 'njbasp1', 'njbasp2', 'njblky1', 'njblky2', 'neaage', 'njbub', 'njbuby', 'nj2has', 'nj2semp', 'nj2hrs', 'nj2pay', 'nivea', 'niveb', 'nivec', 'nived', 'nivee', 'nnemst', 'ncjsbgd', 'ncjsbgm', 'ncjsbgy4', 'ncjsbly', 'nnjbs', 'njbhad', 'njlend4', 'njlsic92', 'njlsemp', 'njlboss', 'njlmngr', 'njlsize', 'nivja', 'nivjb', 'nivjc', 'nivjd', 'nivje', 'nopsoca', 'nopsocb', 'nopsocc', 'nopsocd', 'nopsoce', 'nopsocf', 'nvote1', 'nvote2', 'nvote3', 'nvote4', 'nvote5', 'nvote7', 'nvote8', 'nvote6', 'nnivt1', 'nnivt2', 'nlacta', 'nlactb', 'nlactc', 'nlactd', 'nlacte', 'nlactf', 'nlacth', 'nlacti', 'nlactj', 'nlactk', 'nlactl', 'nfrna', 'nfrnb', 'nfrnc', 'noprlg1', 'noprlg2', 'noprlg3', 'nivva', 'nivvb', 'nivvc', 'nivvd', 'nivve', 'nf101', 'nf102', 'nf103', 'nf104', 'nf105', 'nf106', 'nf107', 'nf116', 'nf118', 'nf119', 'nf121', 'nf122', 'nf125', 'nf126', 'nf127', 'nf128', 'nf132', 'nf135', 'nf136', 'nf137', 'nf138', 'nf139', 'nf140', 'nf141', 'nf142', 'nf143', 'nf151', 'nf152', 'nf153', 'nf154', 'nf155', 'nf156', 'nf157', 'nf158', 'nf159', 'nnf1', 'nnipens', 'nniserps', 'nfisit', 'nfisitc', 'nfisity', 'nfisitx', 'nfiyrdia', 'nfiyrdb1', 'nfiyrdb2', 'nfiyrdb3', 'nfiyrdb4', 'nfiyrdb5', 'nfiyrdb6', 'nsave', 'nsaved', 'nsavey1', 'nsavey2', 'nsavreg', 'nsavlt', 'npppen', 'npenb4', 'npenb4y4', 'npenb4v', 'npenb4w', 'npenyr4', 'npenadd', 'npenadv', 'npenadw', 'nwindf', 'nwindfa', 'nwindfay', 'nwindfb', 'nwindfby', 'nwindfc', 'nwindfcy', 'nwindfd', 'nwindfdy', 'nwindff', 'nwindffy', 'nwindfg', 'nwindfgy', 'nwindfh', 'nwindfhy', 'nxpmeal', 'nxpleis', 'nftexhh', 'nftexa', 'nftexa1', 'nftexa2', 'nftexa3', 'nftexa4', 'nftexa5', 'nftexa6', 'nftexav', 'nftexaw', 'nftexb', 'nftexb1', 'nftexb2', 'nftexb3', 'nftexb4', 'nftexb5', 'nftexb6', 'nftexbv', 'nftexbw', 'nftexc', 'nftexc1', 'nftexc2', 'nftexc3', 'nftexc4', 'nftexc5', 'nftexc6', 'nftexcv', 'nftexcw', 'nspinhh', 'nhubuys', 'nhufrys', 'nhumops', 'nhuiron', 'nhhch12', 'nhusits', 'nhowlng', 'ncaruse', 'nmobuse', 'nevent1', 'nevent1s', 'nevent2', 'nevent2s', 'nevent3', 'nevent3s', 'nevent4', 'nevent4s', 'nivfa', 'nivfb', 'nivfc', 'nivfd', 'nivfe', 'nivfoih', 'nivfoim', 'nivsc', 'niv1', 'niv2', 'niv4', 'niv5', 'niv5aa', 'niv5ab', 'niv5ac', 'niv6a', 'niv6b', 'niv6c', 'niv6d', 'niv6e', 'niv6f', 'niv7', 'nghqa', 'nghqb', 'nghqc', 'nghqd', 'nghqe', 'nghqf', 'nghqg', 'nghqh', 'nghqi', 'nghqj', 'nghqk', 'nghql', 'nopfamo', 'nopfaml', 'nopfamp', 'nopfamq', 'nopfamk', 'nopfamr', 'nlfsat1', 'nlfsat2', 'nlfsat3', 'nlfsat4', 'nlfsat5', 'nlfsat6', 'nlfsat7', 'nlfsat8', 'nlfsato', 'nlfsatl', 'nnetsx1', 'nnetsx2', 'nnetsx3', 'nnet1wr', 'nnet2wr', 'nnet3wr', 'nnet1rl', 'nnet2rl', 'nnet3rl', 'nnet1ag', 'nnet2ag', 'nnet3ag', 'nnet1kn', 'nnet2kn', 'nnet3kn', 'nnet1ph', 'nnet2ph', 'nnet3ph', 'nnet1lv', 'nnet2lv', 'nnet3lv', 'nnet1jb', 'nnet2jb', 'nnet3jb', 'nnet1et', 'nnet2et', 'nnet3et', 'nprrs2i', 'npripn', 'nprwhy', 'npplevr', 'npresbgm', 'npresby4', 'npresly', 'nprfehq', 'nprsehq', 'nprjbft', 'nprjbbgm', 'nprjbby4', 'nprjbly', 'nprearn', 'nprf101', 'nprf102', 'nprf116', 'nprf131', 'nprf135', 'nprf137', 'nprf139', 'nprf125', 'nprf141', 'nprf143', 'nprf107', 'nprfirn', 'nprfitb', 'nivpa', 'nivpb', 'nivpc', 'nivpd', 'nivpe', 'ntelwhy', 'ntlfiyrl', 'ntlfiyr', 'pid', 'pidp', 'niviolw', 'nhhmem', 'nnewhy', 'nnemnjn', 'nneyrjn4', 'nivfio', 'niodc', 'nmemorig', 'nhgr2r', 'nhgsex', 'nhgby', 'nmastat', 'nhgspn', 'nhgemp', 'nhgfno', 'nhgmno', 'nhgra', 'nage', 'nage12', 'nbutype', 'nbuno', 'nnchild', 'nhoh', 'nrach16', 'nsampst', 'nmovest', 'nqfx', 'nqfxc', 'nqfxd', 'nqfxe', 'nqfxf', 'nqfxg', 'nqfxh', 'nqfxk', 'nqfxl', 'nqfxm', 'nqfxn', 'nqfxo', 'nqfxp', 'nqfxq', 'nqfxr', 'nqfedx', 'nqfedxa', 'nnqfexa', 'nqfedxb', 'nnqfexb', 'nqfedxc', 'nnqfexc', 'nqfedxg', 'nnqfexg', 'nqfedxh', 'nnqfexh', 'nqfedxi', 'nnqfexi', 'nqfedxj', 'nnqfexj', 'nqfedxl', 'nnqfexl', 'nregion', 'nhhsize', 'nhhtype', 'ntenure', 'nqfedhi', 'nqfvoc', 'nqfachi', 'njbft', 'npayg', 'npayn', 'npaygu', 'npaynu', 'npaygty', 'npaygly', 'npaynty', 'npaynly', 'njsprof', 'njsloss', 'njspayg', 'ncjsten', 'ncjswk9', 'njlid', 'njlyid', 'njtyid', 'njbseg', 'njbgold', 'njbrgsc', 'njbcssm', 'njbcssf', 'njbhgs', 'njbsec', 'nnjbwks', 'nnjuwks', 'nnjiwks', 'nnjbnew', 'nnjbsp', 'nnjusp', 'nnjisp', 'njbstatl', 'njbstatt', 'njlseg', 'njlgold', 'njlrgsc', 'njlcssm', 'njlcssf', 'njlhgs', 'njlsec', 'nvote', 'nfiyrdic', 'nfimnp', 'nfimnb', 'nfimni', 'nfimnt', 'nfimnl', 'nfimnnl', 'nfimn', 'nfiyrl', 'nfiyrnl', 'nfiyrp', 'nfiyrb', 'nfiyrt', 'nfiyri', 'nfiyr', 'nfihhmn', 'nhlghq1', 'nhlghq2', 'nspjb', 'nspjbhr', 'nspjbot', 'nsppayg', 'nspjbyr', 'nlrwght', 'nlewght', 'nxrwght', 'nxewght', 'nj2payi', 'nfiyrdii', 'nprearni', 'nprfitbi', 'npaygui', 'npaynui', 'npaygti', 'npaygli', 'npaynti', 'npaynli', 'njsprofi', 'njspaygi', 'nfimnpi', 'nfimnbi', 'nfimnii', 'nfimnti', 'nfimnnli', 'nfimnli', 'nfimnthi', 'nfiyrli', 'nfiyrnli', 'nfiyrpi', 'nfiyrbi', 'nfiyrti', 'nfiyrii', 'nfiyeari', 'nsppaygi', 'nfihhmni', 'nmrjend', 'nmrjsic', 'nmrjsic9', 'nmrjsemp', 'nmrjboss', 'nmrjmngr', 'nmrjsize', 'nmrjseg', 'nmrjgold', 'nmrjrgsc', 'nmrjcssm', 'nmrjcssf', 'nmrjhgs', 'nmrjsec', 'npaseg', 'npagold', 'npargsc', 'npacssm', 'npacssf', 'npahgs', 'npasec', 'nmaseg', 'nmagold', 'nmargsc', 'nmacssm', 'nmacssf', 'nmahgs', 'nmasec', 'nj1seg', 'nj1gold', 'nj1rgsc', 'nj1cssm', 'nj1cssf', 'nj1hgs', 'nj1sec', 'nfimnsel', 'nxrwtuk1', 'nxewtuk1', 'nxrwtuk2', 'nxewtuk2', 'nlrwtsw1', 'nlewtsw1', 'nlrwtsw2', 'nlewtsw2', 'nlrwtuk1', 'nlewtuk1', 'nlrwtuk2', 'nlewtuk2', 'nsppid', 'nfpid', 'nmpid', 'ndistmov', 'nregion2', 'nisced', 'ncasmin', 'njbsoc00_cc', 'nj2soc00_cc', 'nj1soc00_cc', 'njlsoc00_cc', 'nmasoc00_cc', 'npasoc00_cc', 'njusoc00_cc', 'nmasoc_cc', 'npasoc_cc', 'njbsoc_cc', 'njlsoc_cc', 'nj1soc_cc', 'nj2soc_cc', 'njusoc_cc', 'njbsocly_cc', 'nspsoc_cc', 'nmrjsoc_cc', 'njbiscon_cc', 'njliscon_cc', 'nj1iscon_cc', 'nmaiscon_cc', 'npaiscon_cc', 'nmrjiscn_cc', 'njbisco_cc', 'njlisco_cc', 'nj1isco_cc', 'nmaisco_cc', 'npaisco_cc', 'nmrjisco_cc', 'nplbornc_cc']

In [5]:
# Loading variables of interest from 1995 BHPS dataset into dataframe
df_residence = df_residence[["nopsocc","nopsocd","nopsoce","nfiyr","nfetype","nage12","njbstatt","nregion2", "nplbornc_cc"]]

In [6]:
# Dropping rows if they donot have any spatial information
df_residence = df_residence[~df_residence["nregion2"].isin(["don't know", "inapplicable", "missing or wild", "refused"])]

In [7]:
# To view columns
df_residence.head()

,nopsocc,nopsocd,nopsoce,nfiyr,nfetype,nage12,njbstatt,nregion2,nplbornc_cc
0,Strongly agree,Disagree,Disagree,45694.3984375,inapplicable,70.0,Retired,London,inapplicable
1,Agree,Disagree,Disagree,12363.2216796875,inapplicable,67.0,Retired,London,inapplicable
2,proxy and/or phone,proxy and/or phone,proxy and/or phone,proxy and/or phone,proxy and/or phone,23.0,proxy and/or phone,London,proxy and/or phone
3,proxy and/or phone,proxy and/or phone,proxy and/or phone,proxy and/or phone,proxy and/or phone,49.0,proxy and/or phone,London,proxy and/or phone
4,proxy and/or phone,proxy and/or phone,proxy and/or phone,proxy and/or phone,proxy and/or phone,23.0,proxy and/or phone,London,proxy and/or phone

In [9]:
df_residence['nopsocc'].value_counts()

Neither agree/disagree    6581
Disagree                  3646
Agree                     2817
proxy and/or phone        1013
don't know                 683
Strongly disagree          599
Strongly agree             387
refused                      3
missing or wild              1
Name: nopsocc, dtype: int64

In [10]:
# create an empty dataframe
output_df = pd.DataFrame()

# Group the dataframe by county and calculate standard deviation of age : "nage12"
output_df["std_dev_age"] = df_residence.groupby("nregion2")["nage12"].agg("std")

# Group the dataframe by county and number of people born in UK : "nplbornc_cc"
output_df["born"] = df_residence.groupby("nregion2")["nplbornc_cc"]

# Assuming inapplicable as people born in UK to all others
def native_share(x):
    pop_count = list(x["born"][1])
    native_count = pop_count.count("inapplicable")/len(pop_count)
    return native_count

# calculating fraction of natives in each county
output_df["native_share"] = output_df.apply(lambda x: native_share(x), axis = 1)

# Dropping "born" groupby column
output_df = output_df.drop(columns = ["born"], axis = 1)

# Creating afetype_dict based on PDF from 2004 BHPS data
nfetype_dict = {"Nursing school etc" : 1, "College of f educ" : 2, "Other trng establmnt" : 3, "Polytechnic" : 4, \
                "University" : 5, "None of the above" : 7, "don't know" : -1, "missing or wild" : -9, \
                    "inapplicable" : -8, "proxy and/or phone" : -7, "refused" : -2}


# Create a new column "nfetype_encoded" in the dataframe by replacing the values with encoded values from the dictionary
#df_residence["nfetype_encoded"] = df_residence["nfetype"].replace(nfetype_dict)
df_residence.loc[:, "nfetype_encoded"] = df_residence["nfetype"].replace(nfetype_dict)

# Group the dataframe by county and "nfetype_encoded"
output_df["education"] = df_residence.groupby("nregion2")["nfetype_encoded"]

# function to calculate dissimilarity in education
def dissimilarity_education(x):
    # loads tuple element into job
    job = x["education"][1]
    # loads frequency of each education type in county as list
    freq = list(job.value_counts())
    # calculates total number of groups
    s = len(freq)
    dissim_index = 0
    for i in freq:
        # formula of dissimilarity index
        dissim_index += 0.5 * abs(i-(1/s))
    return dissim_index

def region_name(x):
    return x["education"][0]

output_df["education_variability"] = output_df.apply(lambda x: dissimilarity_education(x), axis = 1)
output_df["region_name"] = output_df.apply(lambda x: region_name(x), axis = 1)

# Dropping "education" groupby column
output_df = output_df.drop(columns = ["education"], axis = 1)

# Creating ajbstatt_dict based on PDF from 2000 BHPS data
njbstatt_dict = {"Self employed" : 1, "In paid employ" : 2, "Unemployed" : 3, "Retired" : 4, "Maternity leave" : 5, \
                    "Family care" : 6,  "FT studt, school" : 7, " LT sick, disabld" : 8, \
                    "Govt trng scheme" : 9, "Something else" : 10, "don't know" : -1, "missing or wild" : -9, \
                    "inapplicable" : -8, "proxy" : -7, "refused" : -2}


# Create a new column "ajbstatt_encoded" in the dataframe by replacing the values with encoded values from the dictionary
#df_residence.loc["njbstatt_encoded"] = df_residence["njbstatt"].replace(njbstatt_dict)
df_residence.loc[:, "njbstatt_encoded"] = df_residence["njbstatt"].replace(njbstatt_dict)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
output_df["job"] = df_residence.groupby("nregion2")["njbstatt_encoded"]

# function to calculate dissimilarity in job
def dissimilarity_job(x):
    job = x["job"][1]
    freq = list(job.value_counts())
    s = len(freq)
    dissim_index = 0
    for i in freq:
        dissim_index += 0.5 * abs(i-(1/s))
    return dissim_index

# function to calculate fraction of employed people within each county
def frac_employed(x):
    job = list(x["job"][1])
    frac_emp = (job.count(2)/len(job))
    return frac_emp

output_df["job_variability"] = output_df.apply(lambda x: dissimilarity_job(x), axis = 1)
output_df ["frac_employed"] = output_df.apply(lambda x: frac_employed(x), axis = 1)

# Dropping "education" groupby column
output_df = output_df.drop(columns = ["job"], axis = 1)

# replacing all Not-A-Number cases to zero i.e., proxy values
#df_residence["nfiyr"] = df_residence["nfiyr"].replace("proxy and/or phone",0)
df_residence.loc[:, "nfiyr"] = df_residence["nfiyr"].replace("proxy and/or phone",0).astype("float32")

# Group the dataframe by county and calculate median based on self-reported annual income: "afiyr"
output_df["median_income"] = df_residence.groupby("nregion2")["nfiyr"].agg(["median"])

# convert "afiyr" column to float data type
#df_residence["jfiyr"] = df_residence["jfiyr"].astype("float32")

# group incomes by county
output_df["income"] = df_residence.groupby("nregion2")["nfiyr"]

def gini_index(x):
    data = list(x["income"][1])
    # sort the data in ascending order
    sorted_data = np.sort(data)
    # calculate the cumulative sum of the sorted data
    cumsum_data = np.cumsum(sorted_data)
    # calculate the Lorenz curve values
    lorenz_curve = cumsum_data / cumsum_data[-1]
    # calculate the area under the Lorenz curve
    area_lorenz_curve = np.trapz(lorenz_curve, dx=1/len(data))
    # calculate the Gini index
    gini_index = 1 - 2 * area_lorenz_curve
    return gini_index

output_df["gini_index"] = output_df.apply(lambda x : gini_index(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["income"], axis = 1)

output_df

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index
nregion2,,,,,,,,
Channel Islands,27.428695,1.000000,1.0,Channel Islands,1.0,0.000000,10603.949219,0.312804
East Midlands,17.472058,0.952575,368.5,East Midlands,368.5,0.518970,10909.073242,0.459949
East of England,19.162182,0.930682,439.5,East of England,439.5,0.469318,10939.175781,0.511209
London,18.062912,0.900531,376.5,London,376.5,0.493369,12899.308594,0.513331
North East,18.279141,0.914358,198.0,North East,198.0,0.483627,10847.168945,0.460723
North West,18.935736,0.941230,552.5,North West,552.5,0.508137,10917.675781,0.468179
Northern Ireland,18.325703,0.967194,1295.0,Northern Ireland,1295.0,0.426862,10157.713867,0.456657
Scotland,18.028724,0.922806,1418.0,Scotland,1418.0,0.487134,10570.116211,0.472727
South East,18.359198,0.931727,622.0,South East,622.0,0.525301,12449.538086,0.481282
South West,19.074428,0.951132,419.0,South West,419.0,0.504172,10708.486328,0.495059
Wales,18.956120,0.909652,1377.5,Wales,1377.5,0.418360,9717.173828,0.462822
West Midlands,18.886058,0.916112,375.0,West Midlands,375.0,0.475366,9775.497070,0.496307
Yorkshire & Humber,18.776718,0.949580,416.0,Yorkshire & Humber,416.0,0.489796,10375.661133,0.470570

In [12]:
# Define the dictionary to encode the "nopsocc" column which is Statement 1 (S1)
# S1: "Private enterprise is the best way to solve Britain’s economic problems."
nopsocc_dict = {"Strongly agree": 1,"Agree":2, "Not agree, disagree": 3 , "Disagree":4 , "Strongly disagree": 5,
                "don't know": -1 , "missing or wild": -9, "inapplicable":-8,
                "proxy and/or phone":-7, "refused":-2, "Neither agree/disagree":0}

# Create a new column "jopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
#df_residence["jopsocc_encoded"] = df_residence["jopsocc"].replace(jopsocc_dict)
df_residence.loc[:, "nopsocc_encoded"] = df_residence["nopsocc"].replace(nopsocc_dict)

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S1"] = df_residence.groupby("nregion2")["nopsocc_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("nregion2")["nopsocc_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("nregion2")["nopsocc_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S1"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and nopsocc_encoded values
output_df["dkp"] = df_residence.groupby("nregion2")["nopsocc_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S1"] = output_df.apply(lambda x: duca_saving(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

output_df

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1
nregion2,,,,,,,,,,,
Channel Islands,27.428695,1.000000,1.0,Channel Islands,1.0,0.000000,10603.949219,0.312804,2.333333,1.333333,0.148148
East Midlands,17.472058,0.952575,368.5,East Midlands,368.5,0.518970,10909.073242,0.459949,6.148160,1.795393,0.003033
East of England,19.162182,0.930682,439.5,East of England,439.5,0.469318,10939.175781,0.511209,7.202626,1.839773,0.002589
London,18.062912,0.900531,376.5,London,376.5,0.493369,12899.308594,0.513331,9.044552,2.075597,0.005052
North East,18.279141,0.914358,198.0,North East,198.0,0.483627,10847.168945,0.460723,8.770145,2.196474,0.000373
North West,18.935736,0.941230,552.5,North West,552.5,0.508137,10917.675781,0.468179,7.384057,2.064195,0.002375
Northern Ireland,18.325703,0.967194,1295.0,Northern Ireland,1295.0,0.426862,10157.713867,0.456657,5.453305,1.805866,0.000004
Scotland,18.028724,0.922806,1418.0,Scotland,1418.0,0.487134,10570.116211,0.472727,8.596196,2.166373,0.000659
South East,18.359198,0.931727,622.0,South East,622.0,0.525301,12449.538086,0.481282,7.212629,1.844980,0.000007
South West,19.074428,0.951132,419.0,South West,419.0,0.504172,10708.486328,0.495059,6.062516,1.816448,0.002044
Wales,18.956120,0.909652,1377.5,Wales,1377.5,0.418360,9717.173828,0.462822,9.135750,2.152032,0.004205
West Midlands,18.886058,0.916112,375.0,West Midlands,375.0,0.475366,9775.497070,0.496307,8.414644,2.079893,0.001509
Yorkshire & Humber,18.776718,0.949580,416.0,Yorkshire & Humber,416.0,0.489796,10375.661133,0.470570,6.778705,1.899160,0.002783

In [13]:
# Define the dictionary to encode the "jopsocd" column which is Statement 2 (S2)
# S2: "Major public services and industries ought to be in state ownership."

jopsocd_dict = {"Strongly agree": 1,"Agree":2, "Not agree, disagree": 3 , "Disagree":4 , "Strongly disagree": 5,
                "don't know": -1 , "missing or wild": -9, "inapplicable":-8, "proxy and/or phone":-7, "refused":-2, "Neither agree/disagree":0}

# Create a new column "jopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
#df_residence["jopsocd_encoded"] = df_residence["jopsocd"].replace(jopsocd_dict)
df_residence.loc[:, "nopsocd_encoded"] = df_residence["nopsocd"].replace(jopsocd_dict)

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S2"] = df_residence.groupby("nregion2")["nopsocd_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("nregion2")["nopsocd_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("nregion2")["nopsocd_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S2"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and nopsocc_encoded values
output_df["dkp"] = df_residence.groupby("nregion2")["nopsocd_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S2"] = output_df.apply(lambda x: duca_saving(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

In [14]:
# Define the dictionary to encode the "nopsocd" column which is Statement 3 (S3)
# S3: "It is the government’s responsibility to provide a job for everyone who wants one."

nopsoce_dict = {"Strongly agree": 1,"Agree":2, "Not agree, disagree": 3 , "Disagree":4 , "Strongly disagree": 5,
                "don't know": -1 , "missing or wild": -9, "inapplicable":-8, "proxy and/or phone":-7, "refused":-2, "Neither agree/disagree":0}

# Create a new column "jopsocd_encoded" in the dataframe by replacing the values with encoded values from the dictionary
#df_residence["nopsoce_encoded"] = df_residence["nopsoce"].replace(nopsoce_dict)
df_residence.loc[:, "nopsoce_encoded"] = df_residence["nopsoce"].replace(nopsoce_dict)

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S3"] = df_residence.groupby("nregion2")["nopsoce_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("nregion2")["nopsoce_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("nregion2")["nopsoce_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S3"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and nopsocc_encoded values
output_df["dkp"] = df_residence.groupby("nregion2")["nopsoce_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S3"] = output_df.apply(lambda x: duca_saving(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

output_df

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1,Lindqvist_Ostling_S2,Abramowitz_Saunders_S2,Duca_Saving_S2,Lindqvist_Ostling_S3,Abramowitz_Saunders_S3,Duca_Saving_S3
nregion2,,,,,,,,,,,,,,,,,
Channel Islands,27.428695,1.000000,1.0,Channel Islands,1.0,0.000000,10603.949219,0.312804,2.333333,1.333333,0.148148,6.333333,2.000000,0.296296,4.333333,3.333333,0.148148
East Midlands,17.472058,0.952575,368.5,East Midlands,368.5,0.518970,10909.073242,0.459949,6.148160,1.795393,0.003033,6.141260,1.964770,0.009095,6.352864,2.521680,0.000299
East of England,19.162182,0.930682,439.5,East of England,439.5,0.469318,10939.175781,0.511209,7.202626,1.839773,0.002589,7.270957,2.076136,0.001483,8.013020,2.701136,0.000190
London,18.062912,0.900531,376.5,London,376.5,0.493369,12899.308594,0.513331,9.044552,2.075597,0.005052,9.135372,2.335544,0.002194,10.029576,2.877984,0.000784
North East,18.279141,0.914358,198.0,North East,198.0,0.483627,10847.168945,0.460723,8.770145,2.196474,0.000373,8.241508,2.143577,0.004647,8.102028,2.430730,0.000286
North West,18.935736,0.941230,552.5,North West,552.5,0.508137,10917.675781,0.468179,7.384057,2.064195,0.002375,6.919104,2.094937,0.003866,6.969727,2.537975,0.000995
Northern Ireland,18.325703,0.967194,1295.0,Northern Ireland,1295.0,0.426862,10157.713867,0.456657,5.453305,1.805866,0.000004,5.140655,1.932844,0.000009,4.732311,2.348514,0.000005
Scotland,18.028724,0.922806,1418.0,Scotland,1418.0,0.487134,10570.116211,0.472727,8.596196,2.166373,0.000659,7.860326,2.117378,0.002891,8.133808,2.626718,0.000227
South East,18.359198,0.931727,622.0,South East,622.0,0.525301,12449.538086,0.481282,7.212629,1.844980,0.000007,7.188262,2.110843,0.000007,8.164437,2.773494,0.000007
South West,19.074428,0.951132,419.0,South West,419.0,0.504172,10708.486328,0.495059,6.062516,1.816448,0.002044,6.133105,2.030989,0.004321,6.622738,2.675805,0.000511
Wales,18.956120,0.909652,1377.5,Wales,1377.5,0.418360,9717.173828,0.462822,9.135750,2.152032,0.004205,8.700357,2.216255,0.006326,8.889212,2.612482,0.000525
West Midlands,18.886058,0.916112,375.0,West Midlands,375.0,0.475366,9775.497070,0.496307,8.414644,2.079893,0.001509,8.525745,2.294274,0.001977,8.945108,2.778961,0.000101
Yorkshire & Humber,18.776718,0.949580,416.0,Yorkshire & Humber,416.0,0.489796,10375.661133,0.470570,6.778705,1.899160,0.002783,5.914102,1.839136,0.002987,6.614949,2.558223,0.000443

In [15]:
output_df.reset_index(drop=True, inplace=True)
output_df

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1,Lindqvist_Ostling_S2,Abramowitz_Saunders_S2,Duca_Saving_S2,Lindqvist_Ostling_S3,Abramowitz_Saunders_S3,Duca_Saving_S3
0,27.428695,1.000000,1.0,Channel Islands,1.0,0.000000,10603.949219,0.312804,2.333333,1.333333,0.148148,6.333333,2.000000,0.296296,4.333333,3.333333,0.148148
1,17.472058,0.952575,368.5,East Midlands,368.5,0.518970,10909.073242,0.459949,6.148160,1.795393,0.003033,6.141260,1.964770,0.009095,6.352864,2.521680,0.000299
2,19.162182,0.930682,439.5,East of England,439.5,0.469318,10939.175781,0.511209,7.202626,1.839773,0.002589,7.270957,2.076136,0.001483,8.013020,2.701136,0.000190
3,18.062912,0.900531,376.5,London,376.5,0.493369,12899.308594,0.513331,9.044552,2.075597,0.005052,9.135372,2.335544,0.002194,10.029576,2.877984,0.000784
4,18.279141,0.914358,198.0,North East,198.0,0.483627,10847.168945,0.460723,8.770145,2.196474,0.000373,8.241508,2.143577,0.004647,8.102028,2.430730,0.000286
5,18.935736,0.941230,552.5,North West,552.5,0.508137,10917.675781,0.468179,7.384057,2.064195,0.002375,6.919104,2.094937,0.003866,6.969727,2.537975,0.000995
6,18.325703,0.967194,1295.0,Northern Ireland,1295.0,0.426862,10157.713867,0.456657,5.453305,1.805866,0.000004,5.140655,1.932844,0.000009,4.732311,2.348514,0.000005
7,18.028724,0.922806,1418.0,Scotland,1418.0,0.487134,10570.116211,0.472727,8.596196,2.166373,0.000659,7.860326,2.117378,0.002891,8.133808,2.626718,0.000227
8,18.359198,0.931727,622.0,South East,622.0,0.525301,12449.538086,0.481282,7.212629,1.844980,0.000007,7.188262,2.110843,0.000007,8.164437,2.773494,0.000007
9,19.074428,0.951132,419.0,South West,419.0,0.504172,10708.486328,0.495059,6.062516,1.816448,0.002044,6.133105,2.030989,0.004321,6.622738,2.675805,0.000511
10,18.956120,0.909652,1377.5,Wales,1377.5,0.418360,9717.173828,0.462822,9.135750,2.152032,0.004205,8.700357,2.216255,0.006326,8.889212,2.612482,0.000525
11,18.886058,0.916112,375.0,West Midlands,375.0,0.475366,9775.497070,0.496307,8.414644,2.079893,0.001509,8.525745,2.294274,0.001977,8.945108,2.778961,0.000101
12,18.776718,0.949580,416.0,Yorkshire & Humber,416.0,0.489796,10375.661133,0.470570,6.778705,1.899160,0.002783,5.914102,1.839136,0.002987,6.614949,2.558223,0.000443

In [16]:
output_df.to_csv(r"C:\Users\ramak\Desktop\Geog573_Lab\Geog_575_final_project\Final_output\polarization2004_data.csv")