### British Household Panel Survey (BHPS) data conversion from SPSS to CSV workflow

In [300]:
import pandas as pd
import os
import time
import numpy as np

In [44]:
os.chdir(r"C:\Users\Sidrcs\Downloads\SPSS_Processed\UKDA-5151-spss\spss\spss19")

Reading SPSS files in python is supported by <code>pyreadstat</code>. Therefore use <code> pip install pyreadstat</code>. Now, <code>pd.read_spss()</code> method works with loading of <code>.sav</code> files. The concept is outsourced from <a href = "https://www.marsja.se/how-to-read-write-spss-files-in-python-pandas/">marsja blog</a>

In [26]:
for i in range(1,19):
    folder = f"bhps_w{i}"
    for file in os.listdir(folder):
        if file.endswith(".sav"):
            path = folder + "\\" + file
            csv = file.split(".")[0]
            export_path = folder + "\\" + csv + ".csv"
            df = pd.read_spss(path)
            df.to_csv(export_path)

In [27]:
os.chdir(r"C:\Users\Sidrcs\Documents\Github\Geog_575_Final_Project\data")

In [29]:
for i in range(1,19):
    folder = f"bhps_w{i}"
    for file in os.listdir(folder):
        if file.endswith(".sav"):
            path = folder + "\\" + file
            os.remove(path)

In [213]:
df_residence = pd.read_csv(r"C:\Users\Sidrcs\Downloads\SPSS_Processed\UKDA-5151-spss\spss\spss19\bhps_w1\aindresp.csv")

C:\Users\Sidrcs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,5,6,16,550,551,789,790,792,793) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_jobhist = pd.read_csv(r"C:\Users\Sidrcs\Downloads\SPSS_Processed\UKDA-5151-spss\spss\spss19\bhps_w1\ajobhist.csv")

In [5]:
df_residence.describe()

,Unnamed: 0,ahid,apno,pid,pidp,axrwght,axewght,aage,aage12,abuno,...,aj2soc_cc,ajusoc_cc,ajbsocly_cc,aspsoc_cc,ajbiscon_cc,ajliscon_cc,amaiscon_cc,apaiscon_cc,amrjiscn_cc,amaisco_cc
count,10264.000000,1.026400e+04,10264.000000,1.026400e+04,1.026400e+04,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,...,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000
mean,5131.500000,1.394265e+06,1.642537,1.473026e+07,2.184750e+08,0.965705,1.030037,44.415530,44.524454,1.395168,...,-3.139614,-4.022701,25.728956,15.672642,285.144193,150.233242,224.227689,476.299981,475.640978,224.227689
std,2963.105916,2.185230e+05,0.807344,2.621806e+06,2.778717e+08,0.306323,0.227267,18.457566,18.467264,0.766720,...,17.798719,16.105723,34.715797,32.716359,308.951751,287.328767,322.563857,339.919032,277.314799,322.563857
min,0.000000,1.000209e+06,1.000000,1.000225e+07,6.870000e+02,0.000000,0.214160,15.000000,15.000000,1.000000,...,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,2565.750000,1.204823e+06,1.000000,1.245758e+07,2.360118e+06,0.844836,0.906451,29.000000,29.000000,1.000000,...,-8.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.000000,131.000000,243.000000,-8.000000
50%,5131.500000,1.394219e+06,1.000000,1.472922e+07,4.721587e+06,0.966817,1.016328,42.000000,42.000000,1.000000,...,-8.000000,-8.000000,19.000000,-8.000000,214.000000,-8.000000,-8.000000,522.000000,421.000000,-8.000000
75%,7697.250000,1.586696e+06,2.000000,1.703904e+07,4.104788e+08,1.103551,1.142733,59.000000,59.000000,2.000000,...,-8.000000,-8.000000,52.000000,41.000000,513.000000,231.000000,511.000000,744.000000,723.000000,511.000000
max,10263.000000,1.761811e+06,7.000000,1.914051e+07,8.200433e+08,2.499446,2.498486,96.000000,97.000000,7.000000,...,99.000000,99.000000,99.000000,99.000000,933.000000,933.000000,933.000000,933.000000,933.000000,933.000000

In [32]:
# Let us only take for England counties for now
df_residence["aplb4d"].value_counts()

inapplicable                   485
Sheffield                      234
Birmingham                     217
missing or wild                177
Edinburgh City                 176
                              ...
Devon n.o.s.                     1
Essex n.o.s.                     1
Darlington; Teesdale             1
Northern Ireland                 1
NW Highlands; Western Isles      1
Name: aplb4d, Length: 290, dtype: int64

In [42]:
counts = df_residence["aplb4d"].value_counts()
counts_gt_100 = counts[counts >60]
print(counts_gt_100)

inapplicable                             485
Sheffield                                234
Birmingham                               217
missing or wild                          177
Edinburgh City                           176
Wakefield                                159
Manchester                               149
Newcastle upon Tyne                      127
Alyn & Deeside; Delyn; Wrexham Maelor    123
Bradford                                 113
Allerdale; Carlisle                      109
Wirral                                   105
Dundee City                               98
Thamesdown                                96
Lambeth                                   95
Milton Keynes                             85
Blaenau Gwent; Islywn                     83
Cunninghame                               82
E Staff; Staffordshire Moorlands          79
Lewisham                                  78
Broadland; Norwich                        78
Blackburn                                 78
Amber Valley; NE Derbyshire               77
Sandwell                                  75
Leeds                                     75
Gateshead                                 74
Hartlepool; Stockton                      74
Merton                                    74
Dudley                                    73
Plymouth                                  73
Stoke-on-Trent                            72
Cleethorpes; Great Grimsby                72
Arun                                      70
Wycombe                                   68
Macclesfield                              66
Huntingdonshire                           65
Kennet; Salisbury                         64
Sevenoaks; Tonbridge & Malling            64
Bromsgrove; Wyre Forest                   63
Bath; Kingswood; Wansdyke                 61
Bromley                                   61
Bolton                                    61
Name: aplb4d, dtype: int64

In [15]:
#S1: Private Enterprise is the best way to solve Britains's economic problems
df_residence["aopsocc"].value_counts()

Agree               2766
Disagree            2679
Not agree/disagr    2656
Strongly disagr      836
don't know           521
Strongly agree       433
proxy                352
missing or wild       18
refused                3
Name: aopsocc, dtype: int64

In [16]:
#S2: Major public services and industries ought to be in state ownership
df_residence["aopsocd"].value_counts()

Agree              3249
Disagree           2780
Not agree/disag    2059
Strongly disagr     765
Strongly agree      602
don't know          437
proxy               352
missing or wild      15
refused               5
Name: aopsocd, dtype: int64

In [17]:
#S3: It is the government's responsibility to provide a job for everyone who wants one
df_residence["aopsoce"].value_counts()

Agree              3990
Disagree           3123
Not agree/disag    1110
Strongly disagr     791
Strongly agree      772
proxy               352
don't know          107
missing or wild      16
refused               3
Name: aopsoce, dtype: int64

In [22]:
#Need to compute - standard deviation of individual age in a county: "aage12" age of survey respondent 
df_residence["aage12"].value_counts()

44.0    239
26.0    234
30.0    231
31.0    227
34.0    220
       ...
92.0      2
96.0      1
94.0      1
97.0      1
15.0      1
Name: aage12, Length: 82, dtype: int64

In [38]:
# Need to compute - income inequality using Gini coefficient for each county
# "afiyr" : Self-reported annual income
df_residence["afiyr"].value_counts()

proxy                 352
0.0                   213
60.0                  112
600.0                  79
1800.0                 37
                     ...
5557.72216796875        1
18265.119140625         1
414.05621337890625      1
22905.3125              1
4783.30029296875        1
Name: afiyr, Length: 8561, dtype: int64

In [27]:
# consider inapplicable as residents of UK?
df_residence["aplbornc_cc"].value_counts()

inapplicable           9244
missing or wild         312
other country           191
republic of ireland     107
india                    73
germany                  46
pakistan                 45
jamaica                  33
kenya                    33
italy                    23
u.s.a                    21
south africa             18
australia                18
uganda                   15
cyprus                   14
bangladesh               13
china/ hong kong         10
new zealand              10
poland                   10
canada                    9
ghana                     5
france                    5
sri lanka                 4
turkey                    3
29.0                      2
Name: aplbornc_cc, dtype: int64

In [39]:
df_residence["afetype"].value_counts()

None of the above       6647
College of f educ       1436
Other trng establmnt     683
University               619
Polytechnic              357
Nursing school etc       285
inapplicable             176
missing or wild           56
don't know                 4
refused                    1
Name: afetype, dtype: int64

In [40]:
df_residence["ajbstatt"].value_counts()

In paid employ             4950
Retired                    1758
Family care                1169
Self employed               760
Unemployed                  532
FT student                  376
proxy                       352
Long term sick/disabled     267
Something else               39
Govt trng scheme             33
On matern leave              15
missing or wild              13
Name: ajbstatt, dtype: int64

## Interested variables for visualization
Look for <code>aindresp.csv</code>. Required variables are: (These are columns names and their corresponding interpretation) <ul><li><code>aopsocc</code> : "Private enterprise is the best way to solve Britain’s economic problems" (S1)</li> <li><code>aopsocd</code> : "Major public services and industries ought to be in state ownership" (S2)</li> <li><code>aopsoce</code> : "It is the government’s responsibility to provide a job for everyone who wants one" (S3)</li> <li><code>afiyr</code> : <b>Self-reported annual income</b> </li> <li><code>afetype</code> : <b>Educational qualification</b></li> <li><code>aplbornc_cc</code> : <b>Country of birth</b></li> <li><code>aage12</code> : <b>Age</b></li> <li><code>ajbstatt</code> : <b>Employment status</b></li> <li><code>aplb4d</code> : <b>County Name</b> </li></ul>

<h3> Task: create a dictionary for <code>aplb4d</code> as key and FID values in ArcGIS for that county as values. The output CSV should have the aforementioned information </h3>. <b>- (Raju)</b>

### Calculation of income inequality by Gini index in each county

In [309]:
import numpy as np

def gini_index(x):
    data = list(x["income"][1])
    # sort the data in ascending order
    sorted_data = np.sort(data)
    # calculate the cumulative sum of the sorted data
    cumsum_data = np.cumsum(sorted_data)
    # calculate the Lorenz curve values
    lorenz_curve = cumsum_data / cumsum_data[-1]
    # calculate the area under the Lorenz curve
    area_lorenz_curve = np.trapz(lorenz_curve, dx=1/len(data))
    # calculate the Gini index
    gini_index = 1 - 2 * area_lorenz_curve
    return gini_index


def gini(x):
    data = list(x["income"][1])
    total = 0
    for i, xi in enumerate(data[:-1], 1):
        total += np.sum(np.abs(xi - x[i:]))
    return total / (len(x)**2 * np.mean(data))

In [310]:
grouped_df = pd.DataFrame()

df_residence["afiyr"] = df_residence["afiyr"].replace("proxy", 0)

# convert "afiyr" column to float data type
df_residence["afiyr"] = df_residence["afiyr"].astype("float32")

# group incomes by county
grouped_df["income"] = df_residence.groupby("aplb4d")["afiyr"]

grouped_df["gini_index"] = grouped_df.apply(lambda x : gini_index(x), axis = 1)
grouped_df["gini"] = grouped_df.apply(lambda x : gini(x), axis = 1)


grouped_df

                                                income  gini_index      gini
0    (Aberdeen City, [9855.7919921875, 4302.1933593...    0.519385  0.298997
1    (Adur; Worthing, [4544.3134765625, 3319.173339...    0.470579  0.127196
2    (Allerdale; Carlisle, [4849.36572265625, 600.0...    0.442821  0.149526
3    (Alnwick; Berwick; Morpeth; Tynedale, [4750.87...    0.377750  0.281784
4    (Alyn & Deeside; Delyn; Wrexham Maelor, [1730....    0.424249  0.062031
..                                                 ...         ...       ...
281  (Wirral, [4770.71142578125, 0.0, 1496.03881835...    0.563936  0.145979
282  (Wokingham, [10648.40625, 15223.0, 9078.873046...    0.278845  0.233620
283  (Wolverhampton, [17916.357421875, 11464.619140...    0.465119  0.710830
284  (Woodspring, [3484.28515625, 3828.0, 13900.865...    0.395611  0.071851
285  (Wycombe, [19553.0, 4376.0673828125, 10060.0, ...    0.530993  0.486640

[286 rows x 3 columns]

### Calculation of variability of the highest educational qualifcation in each county

In [59]:
import numpy as np
import pandas as pd

# group individuals by county
grouped = df_residence.groupby("aplb4d")

# define a function to calculate the dissimilarity index
def dissimilarity_index(x):
    # calculate the proportion of individuals in each occupation category
    p = x["afetype"].value_counts(normalize=True)
    # calculate the proportion of individuals in each occupation category for the complement group
    q = 1 - p
    # calculate the dissimilarity index
    dissimilarity = 0.5 * np.sum(np.abs(p - q))
    return dissimilarity

# apply the function to each county group
dissimilarity_by_county = grouped.apply(dissimilarity_index)

# create a new DataFrame with the results
dissimilarity_df = pd.DataFrame({"Dissimilarity Index": dissimilarity_by_county})

# display the results
print(dissimilarity_df)

                                       Dissimilarity Index
aplb4d
Aberdeen City                                     2.392857
Adur; Worthing                                    1.921053
Allerdale; Carlisle                               2.467890
Alnwick; Berwick; Morpeth; Tynedale               0.642857
Alyn & Deeside; Delyn; Wrexham Maelor             3.349593
...                                                    ...
Wycombe                                           2.705882
don't know                                        0.500000
inapplicable                                      3.084536
missing or wild                                   2.754237
refused                                           1.333333

[290 rows x 1 columns]

### Calculation of variability of job status in each county

In [60]:
import numpy as np
import pandas as pd

# group individuals by county
grouped = df_residence.groupby("aplb4d")

# define a function to calculate the dissimilarity index
def dissimilarity_index(x):
    # calculate the proportion of individuals in each occupation category
    p = x["ajbstatt"].value_counts(normalize=True)
    # calculate the proportion of individuals in each occupation category for the complement group
    q = 1 - p
    # calculate the dissimilarity index
    dissimilarity = 0.5 * np.sum(np.abs(p - q))
    return dissimilarity

# apply the function to each county group
dissimilarity_by_county = grouped.apply(dissimilarity_index)

# create a new DataFrame with the results
dissimilarity_df = pd.DataFrame({"Dissimilarity Index": dissimilarity_by_county})

# display the results
print(dissimilarity_df)

                                       Dissimilarity Index
aplb4d
Aberdeen City                                     3.214286
Adur; Worthing                                    2.500000
Allerdale; Carlisle                               3.211009
Alnwick; Berwick; Morpeth; Tynedale               1.000000
Alyn & Deeside; Delyn; Wrexham Maelor             3.500000
...                                                    ...
Wycombe                                           3.529412
don't know                                        0.500000
inapplicable                                      4.014433
missing or wild                                   3.709040
refused                                           2.500000

[290 rows x 1 columns]

In [70]:
df_pol

                          county  polarization
0              City; Westminster      0.030583
1                         Ealing      0.140523
2                          Brent      0.052956
3           Hammersmith & Fulham      0.071667
4             Inner London n.o.s      0.034127
..                           ...           ...
285        Clackmannan; Stirling      1.023810
286                Aberdeen City      0.013961
287             Northern Ireland      0.000000
288  NW Highlands; Western Isles      0.000000
289                      Renfrew     21.500000

[290 rows x 2 columns]

In [190]:
# Define the dictionary to encode the "aopsocc" column
aopsocc_dict = {"Agree":2, "Disagree":4 , "Not agree/disagr": 3 ,"Strongly disagr": 5, 
                "don't know": -1 , "Strongly agree": 1 ,"proxy":-7, "missing or wild": -9, 
                "refused":-2, "inapplicable":-9}

# Create a new column "aopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["aopsocc_encoded"] = df_residence["aopsocc"].replace(aopsocc_dict)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
grouped_df = df_residence.groupby("aplb4d")["aopsocc_encoded"].agg(["var"])

# Calculate the political polarization measure using the formula from Lindqvist and Ostling (2010)
grouped_df["Lindqvist_polarization"] = grouped_df["var"]

grouped_df

                                             var  Lindqvist_polarization
aplb4d
Aberdeen City                          11.100974               11.100974
Adur; Worthing                          3.528450                3.528450
Allerdale; Carlisle                     2.161570                2.161570
Alnwick; Berwick; Morpeth; Tynedale     0.809524                0.809524
Alyn & Deeside; Delyn; Wrexham Maelor   2.808210                2.808210
...                                          ...                     ...
Wycombe                                 5.403863                5.403863
don't know                             32.333333               32.333333
inapplicable                            8.466218                8.466218
missing or wild                         5.752953                5.752953
refused                                 2.250000                2.250000

[290 rows x 2 columns]

In [95]:
df_residence[(df_residence["aplb4d"] == "Aberdeen City")]["aopsocc_encoded"].value_counts()

 5    20
 3    12
 2    10
 4     7
-7     5
 1     1
-1     1
Name: aopsocc_encoded, dtype: int64

In [113]:
(20*5)+(3*12)+(2*10)+(28)+(35)+2

221

In [111]:
(109.51+1.387+4.35+12.56+466.57+2.75+13.39)/55

11.10030909090909

In [191]:
# Define the dictionary to encode the "aopsocc" column
aopsocc_dict = {"Agree":2, "Disagree":4 , "Not agree/disagr": 3 ,"Strongly disagr": 5, 
                "don't know": -1 , "Strongly agree": 1 ,"proxy":-7, "missing or wild": -9, 
                "refused":-2, "inapplicable":-9}

# Create a new column "aopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["aopsocc_encoded"] = df_residence["aopsocc"].replace(aopsocc_dict)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
grouped_df["abs_sum"] = df_residence.groupby("aplb4d")["aopsocc_encoded"].apply(lambda x: x.abs().sum())
grouped_df["counts"] = df_residence.groupby("aplb4d")["aopsocc_encoded"].apply(lambda x: x.count())

grouped_df["Abramowitz_polarization"] = grouped_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

grouped_df

,var,Lindqvist_polarization,abs_sum,counts,Abramowitz_polarization
aplb4d,,,,,
Aberdeen City,11.100974,11.100974,221,56,3.946429
Adur; Worthing,3.528450,3.528450,105,38,2.763158
Allerdale; Carlisle,2.161570,2.161570,354,109,3.247706
Alnwick; Berwick; Morpeth; Tynedale,0.809524,0.809524,22,7,3.142857
Alyn & Deeside; Delyn; Wrexham Maelor,2.808210,2.808210,392,123,3.186992
...,...,...,...,...,...
Wycombe,5.403863,5.403863,206,68,3.029412
don't know,32.333333,32.333333,20,4,5.000000
inapplicable,8.466218,8.466218,1651,485,3.404124
missing or wild,5.752953,5.752953,549,177,3.101695
refused,2.250000,2.250000,20,9,2.222222

In [117]:
# Define the dictionary to encode the "aopsocc" column
aopsocc_dict = {"Agree":2, "Disagree":4 , "Not agree/disagr": 3 ,"Strongly disagr": 5, 
                "don't know": -1 , "Strongly agree": 1 ,"proxy":-7, "missing or wild": -9, 
                "refused":-2, "inapplicable":-9}

# Create a new column "aopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["aopsocc_encoded"] = df_residence["aopsocc"].replace(aopsocc_dict)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
grouped_df["abs_sum"] = df_residence.groupby("aplb4d")["aopsocc_encoded"].apply(lambda x: x.abs().sum())
grouped_df["counts"] = df_residence.groupby("aplb4d")["aopsocc_encoded"].apply(lambda x: x.count())

grouped_df["Abramowitz_polarization"] = grouped_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

grouped_df

,mean,var,political_polarization,abs_sum,counts,Abramowitz_polarization
aplb4d,,,,,,
Aberdeen City,2.660714,11.100974,11.100974,221,56,3.946429
Adur; Worthing,2.342105,3.528450,3.528450,105,38,2.763158
Allerdale; Carlisle,3.119266,2.161570,2.161570,354,109,3.247706
Alnwick; Berwick; Morpeth; Tynedale,3.142857,0.809524,0.809524,22,7,3.142857
Alyn & Deeside; Delyn; Wrexham Maelor,2.943089,2.808210,2.808210,392,123,3.186992
...,...,...,...,...,...,...
Wycombe,2.382353,5.403863,5.403863,206,68,3.029412
don't know,1.500000,32.333333,32.333333,20,4,5.000000
inapplicable,2.298969,8.466218,8.466218,1651,485,3.404124
missing or wild,2.401130,5.752953,5.752953,549,177,3.101695
refused,2.000000,2.250000,2.250000,20,9,2.222222

In [187]:
def duca(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

In [192]:
# Define the dictionary to encode the "aopsocc" column
aopsocc_dict = {"Agree":2, "Disagree":4 , "Not agree/disagr": 3 ,"Strongly disagr": 5, 
                "don't know": -1 , "Strongly agree": 1 ,"proxy":-7, "missing or wild": -9, 
                "refused":-2, "inapplicable":-9}

# Create a new column "aopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["aopsocc_encoded"] = df_residence["aopsocc"].replace(aopsocc_dict)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
grouped_df["dkp"] = df_residence.groupby("aplb4d")["aopsocc_encoded"]

grouped_df["Duca_polarization"] = grouped_df.apply(lambda x: duca(x), axis = 1)

In [189]:
grouped_df

,mean,var,Lindqvist_polarization,dkp,Duca_polarization
aplb4d,,,,,
Aberdeen City,2.660714,11.100974,11.100974,"(Aberdeen City, [5, 3, -7, 2, 3, 3, 4, 1, 2, 2...",0.001572
Adur; Worthing,2.342105,3.528450,3.528450,"(Adur; Worthing, [2, 2, 2, 1, 2, 4, 4, 2, 2, 4...",0.002223
Allerdale; Carlisle,3.119266,2.161570,2.161570,"(Allerdale; Carlisle, [4, 4, 2, 3, 4, 2, 3, 2,...",0.000839
Alnwick; Berwick; Morpeth; Tynedale,3.142857,0.809524,0.809524,"(Alnwick; Berwick; Morpeth; Tynedale, [3, 4, 4...",0.081633
Alyn & Deeside; Delyn; Wrexham Maelor,2.943089,2.808210,2.808210,"(Alyn & Deeside; Delyn; Wrexham Maelor, [4, 3,...",0.000660
...,...,...,...,...,...
Wycombe,2.382353,5.403863,5.403863,"(Wycombe, [2, 2, 4, 3, 2, 2, 4, -7, 5, 4, 3, 3...",0.000884
don't know,1.500000,32.333333,32.333333,"(don't know, [5, -7, 4, 4])",0.203125
inapplicable,2.298969,8.466218,8.466218,"(inapplicable, [-7, -7, 4, 3, 3, 2, 2, -9, 3, ...",0.000020
missing or wild,2.401130,5.752953,5.752953,"(missing or wild, [1, 4, 2, 5, 2, 3, 4, 3, 2, ...",0.014103
refused,2.000000,2.250000,2.250000,"(refused, [3, 1, 2, -1, 3, 4, 1, 3, 2])",0.024691

In [141]:
abd_tuple = grouped_df["dkp"].iloc[0]

In [177]:
freq = list(abd_tuple[1].value_counts())

In [178]:
val = list(abd_tuple[1].unique())

In [179]:
freq,val

([20, 12, 10, 7, 5, 1, 1], [5, 3, -7, 2, 4, 1, -1])

In [181]:
norm_freq = [x/sum(freq) for x in freq]

In [182]:
norm_freq

[0.35714285714285715,
 0.21428571428571427,
 0.17857142857142858,
 0.125,
 0.08928571428571429,
 0.017857142857142856,
 0.017857142857142856]

In [183]:
outer_sum = 0
for i in range(len(norm_freq)):
    nkit = norm_freq[i]
    inner_sum = 0
    for j in range(len(norm_freq)):
        npit = norm_freq[j]
        dkp = abs(val[i] - val[j])
        inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum

In [184]:
outer_sum

0.8949070699708456

In [196]:
df_residence["afiyr"].value_counts()

proxy                 352
0.0                   213
60.0                  112
600.0                  79
1800.0                 37
                     ...
5557.72216796875        1
18265.119140625         1
414.05621337890625      1
22905.3125              1
4783.30029296875        1
Name: afiyr, Length: 8561, dtype: int64

In [205]:
df_residence["afiyr"] = df_residence["afiyr"].replace("proxy",0)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
grouped_df = df_residence.groupby("aplb4d")["afiyr"].agg(["median"])

grouped_df["median_income"] = grouped_df["median"]

grouped_df

                                            median  median_income
aplb4d
Aberdeen City                          5455.766113    5455.766113
Adur; Worthing                         5003.030029    5003.030029
Allerdale; Carlisle                    6204.619629    6204.619629
Alnwick; Berwick; Morpeth; Tynedale    3715.673340    3715.673340
Alyn & Deeside; Delyn; Wrexham Maelor  5108.415039    5108.415039
...                                            ...            ...
Wycombe                                8316.907227    8316.907227
don't know                             4102.894043    4102.894043
inapplicable                           4274.281738    4274.281738
missing or wild                        8931.316406    8931.316406
refused                                 798.521729     798.521729

[290 rows x 2 columns]

In [207]:
df_residence["ajbstatt"].value_counts()

In paid employ             4950
Retired                    1758
Family care                1169
Self employed               760
Unemployed                  532
FT student                  376
proxy                       352
Long term sick/disabled     267
Something else               39
Govt trng scheme             33
On matern leave              15
missing or wild              13
Name: ajbstatt, dtype: int64

In [211]:
# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
grouped_df = df_residence.groupby("aplb4d")["ajbstatt"]
grouped_df

### Calculation of Job status variability using dissimilarity index

In [248]:
def dissimilarity_index(x):
    job = x["job"][1]
    freq = list(job.value_counts())
    s = len(freq)
    dissim_index = 0
    for i in freq:
        dissim_index = 0.5 * abs(i-(1/s))
    return dissim_index

def county_name(x):
    return x["job"][0]

def frac_employed(x):
    job = list(x["job"][1])
    frac_emp = (job.count(2)/len(job))
    return frac_emp

In [249]:
job_df = pd.DataFrame()

ajbstatt_dict = {"Self employed" : 1, "In paid employ" : 2, "Unemployed" : 3, "Retired" : 4, "Family care" : 5, \
                    "FT student" : 6,  "Long term sick/disabled" : 7, "On matern leave" : 8, \
                    "Govt trng scheme" : 9, "Something else" : 10, "don't know" : -1, "missing or wild" : -9, \
                    "inapplicable" : -8, "proxy" : -7, "refused" : -2}


# Create a new column "aopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["ajbstatt_encoded"] = df_residence["ajbstatt"].replace(ajbstatt_dict)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
job_df["job"] = df_residence.groupby("aplb4d")["ajbstatt_encoded"]

job_df["job_variability"] = job_df.apply(lambda x: dissimilarity_index(x), axis = 1)
job_df["county"] = job_df.apply(lambda x: county_name(x), axis = 1)
job_df ["frac_employed"] = job_df.apply(lambda x: frac_employed(x), axis = 1)

job_df

,job,job_variability,county,frac_employed
0,"(Aberdeen City, [2, 7, -7, 2, 3, 3, 2, 1, 2, 7...",0.437500,Aberdeen City,0.607143
1,"(Adur; Worthing, [4, 4, 2, 2, 2, 3, 5, 2, 7, 2...",0.428571,Adur; Worthing,0.421053
2,"(Allerdale; Carlisle, [2, 5, 1, 5, 6, 2, 1, 5,...",0.437500,Allerdale; Carlisle,0.605505
3,"(Alnwick; Berwick; Morpeth; Tynedale, [5, 2, 2...",0.375000,Alnwick; Berwick; Morpeth; Tynedale,0.285714
4,"(Alyn & Deeside; Delyn; Wrexham Maelor, [6, 4,...",0.444444,Alyn & Deeside; Delyn; Wrexham Maelor,0.455285
...,...,...,...,...
285,"(Wycombe, [2, 3, 1, 2, 2, 4, 2, -7, 2, 2, 2, 3...",0.444444,Wycombe,0.514706
286,"(don't know, [1, -7, 4, 4])",0.333333,don't know,0.000000
287,"(inapplicable, [-7, -7, 1, 1, 2, 2, 2, 5, 5, 2...",0.450000,inapplicable,0.507216
288,"(missing or wild, [4, 2, 2, 2, 2, 6, 5, 2, 2, ...",0.444444,missing or wild,0.604520
289,"(refused, [3, 1, 5, 4, 2, 2, 1, 6, 7])",0.428571,refused,0.222222

### Calculation of variability of educational qualification using dissimilarity index

In [238]:
def dissimilarity_index(x):
    job = x["education"][1]
    freq = list(job.value_counts())
    s = len(freq)
    dissim_index = 0
    for i in freq:
        dissim_index = 0.5 * abs(i-(1/s))
    return dissim_index

def county_name(x):
    return x["education"][0]

In [239]:
education_df = pd.DataFrame()

afetype_dict = {"Nursing school etc" : 1, " College of f educ" : 2, " College of f educ" : 3, " Polytechnic" : 4, \
                "University" : 5, "None of the above" : 7, "don't know" : -1, "missing or wild" : -9, \
                    "inapplicable" : -8, "proxy" : -7, "refused" : -2}


# Create a new column "aopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["afetype_encoded"] = df_residence["afetype"].replace(afetype_dict)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
education_df["education"] = df_residence.groupby("aplb4d")["afetype_encoded"]

education_df["education_variability"] = education_df.apply(lambda x: dissimilarity_index(x), axis = 1)
education_df["county"] = education_df.apply(lambda x: county_name(x), axis = 1)

education_df

,education,education_variability,county
0,"(Aberdeen City, [College of f educ, 7, Polytec...",0.416667,Aberdeen City
1,"(Adur; Worthing, [7, 7, Other trng establmnt, ...",0.400000,Adur; Worthing
2,"(Allerdale; Carlisle, [Other trng establmnt, 7...",0.416667,Allerdale; Carlisle
3,"(Alnwick; Berwick; Morpeth; Tynedale, [7, 7, 7...",0.333333,Alnwick; Berwick; Morpeth; Tynedale
4,"(Alyn & Deeside; Delyn; Wrexham Maelor, [Polyt...",0.437500,Alyn & Deeside; Delyn; Wrexham Maelor
...,...,...,...
285,"(Wycombe, [7, 7, 5, Other trng establmnt, 7, 7...",0.928571,Wycombe
286,"(don't know, [College of f educ, 7, 7, 7])",0.250000,don't know
287,"(inapplicable, [5, 5, 5, 7, 7, 1, Polytechnic,...",3.937500,inapplicable
288,"(missing or wild, [7, 7, 1, College of f educ,...",0.428571,missing or wild
289,"(refused, [7, 5, 7, 7, 7, 7, College of f educ...",0.375000,refused

### Calculation of Standard deviation of age

In [242]:
age_df = pd.DataFrame()

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
age_df["std_dev_age"] = df_residence.groupby("aplb4d")["aage12"].agg("std")

age_df

                                       std_dev_age
aplb4d
Aberdeen City                            15.196623
Adur; Worthing                           21.108135
Allerdale; Carlisle                      16.277886
Alnwick; Berwick; Morpeth; Tynedale      23.060996
Alyn & Deeside; Delyn; Wrexham Maelor    17.071726
...                                            ...
Wycombe                                  14.807123
don't know                               27.037012
inapplicable                             18.111336
missing or wild                          17.000204
refused                                  20.892582

[290 rows x 1 columns]

In [251]:
df_residence["aplbornc_cc"].value_counts()

inapplicable           9244
missing or wild         312
other country           191
republic of ireland     107
india                    73
germany                  46
pakistan                 45
jamaica                  33
kenya                    33
italy                    23
u.s.a                    21
south africa             18
australia                18
uganda                   15
cyprus                   14
bangladesh               13
china/ hong kong         10
new zealand              10
poland                   10
canada                    9
ghana                     5
france                    5
sri lanka                 4
turkey                    3
29.0                      2
Name: aplbornc_cc, dtype: int64

### Calculation of share of natives in each county

In [254]:
def native_share(x):
    pop_count = list(x["born"][1])
    native_count = pop_count.count("inapplicable")/len(pop_count)
    return native_count

In [256]:
native_df = pd.DataFrame()

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
native_df["born"] = df_residence.groupby("aplb4d")["aplbornc_cc"]

native_df["native_share"] = native_df.apply(lambda x: native_share(x), axis = 1)

native_df

                                                  born  native_share
0    (Aberdeen City, [inapplicable, inapplicable, m...      0.875000
1    (Adur; Worthing, [inapplicable, inapplicable, ...      0.894737
2    (Allerdale; Carlisle, [inapplicable, inapplica...      0.963303
3    (Alnwick; Berwick; Morpeth; Tynedale, [inappli...      1.000000
4    (Alyn & Deeside; Delyn; Wrexham Maelor, [inapp...      0.975610
..                                                 ...           ...
285  (Wycombe, [inapplicable, inapplicable, inappli...      0.911765
286  (don't know, [inapplicable, inapplicable, inap...      1.000000
287  (inapplicable, [other country, missing or wild...      0.874227
288  (missing or wild, [inapplicable, inapplicable,...      0.836158
289  (refused, [inapplicable, inapplicable, inappli...      0.888889

[290 rows x 2 columns]

In [276]:
df_residence[(df_residence["aplb4d"] == "Kent n.o.s.")]["aopsocc"].value_counts()

Not agree/disagr    1
Strongly agree      1
Name: aopsocc, dtype: int64

In [292]:
df_residence = pd.read_csv(r"C:\Users\Sidrcs\Downloads\SPSS_Processed\UKDA-5151-spss\spss\spss19\bhps_w1\aindresp.csv")

C:\Users\Sidrcs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,5,6,16,550,551,789,790,792,793) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [293]:
# Loading variables of interest from 1991 BHPS dataset into dataframe
df_residence = df_residence[["aopsocc","aopsocd","aopsoce","afiyr","afetype","aage12","ajbstatt","aplb4d", "aplbornc_cc"]]

In [294]:
# Dropping rows if they donot have any spatial information
df_residence = df_residence[~df_residence["aplb4d"].isin(["don't know", "inapplicable", "missing or wild", "refused"])]

In [295]:
# To view columns
df_residence.head()

,aopsocc,aopsocd,aopsoce,afiyr,afetype,aage12,ajbstatt,aplb4d,aplbornc_cc
0,Agree,Not agree/disag,Disagree,3488.5703125,Other trng establmnt,91.0,Retired,City; Westminster,inapplicable
1,Agree,Not agree/disag,Not agree/disag,1789.7335205078125,University,28.0,Unemployed,Ealing,other country
2,Not agree/disagr,Strongly disagr,Strongly disagr,1789.7335205078125,University,26.0,Unemployed,Ealing,other country
3,Strongly disagr,Strongly disagr,Strongly disagr,7200.06005859375,None of the above,58.0,In paid employ,Brent,other country
4,Agree,Strongly disagr,Strongly disagr,12060.0,None of the above,54.0,Self employed,Hammersmith & Fulham,inapplicable

In [330]:
# create an empty dataframe
output_df = pd.DataFrame()

# Group the dataframe by county and calculate standard deviation of age : "aage12"
output_df["std_dev_age"] = df_residence.groupby("aplb4d")["aage12"].agg("std")

# Group the dataframe by county and number of people born in UK : "aplbornc_cc"
output_df["born"] = df_residence.groupby("aplb4d")["aplbornc_cc"]

# Assuming inapplicable as people born in UK to all others
def native_share(x):
    pop_count = list(x["born"][1])
    native_count = pop_count.count("inapplicable")/len(pop_count)
    return native_count

# calculating fraction of natives in each county
output_df["native_share"] = output_df.apply(lambda x: native_share(x), axis = 1)

# Dropping "born" groupby column
output_df = output_df.drop(columns = ["born"], axis = 1)

# Creating afetype_dict based on PDF from 1991 BHPS data
afetype_dict = {"Nursing school etc" : 1, " College of f educ" : 2, " College of f educ" : 3, " Polytechnic" : 4, \
                "University" : 5, "None of the above" : 7, "don't know" : -1, "missing or wild" : -9, \
                    "inapplicable" : -8, "proxy" : -7, "refused" : -2}


# Create a new column "afetype_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["afetype_encoded"] = df_residence["afetype"].replace(afetype_dict)

# Group the dataframe by county and "afetype_encoded"
output_df["education"] = df_residence.groupby("aplb4d")["afetype_encoded"]

# function to calculate dissimilarity in education
def dissimilarity_education(x):
    # loads tuple element into job
    job = x["education"][1]
    # loads frequency of each education type in county as list
    freq = list(job.value_counts())
    # calculates total number of groups
    s = len(freq)
    dissim_index = 0
    for i in freq:
        # formula of dissimilarity index
        dissim_index += 0.5 * abs(i-(1/s))
    return dissim_index

def county_name(x):
    return x["education"][0]

output_df["education_variability"] = output_df.apply(lambda x: dissimilarity_education(x), axis = 1)
output_df["county"] = output_df.apply(lambda x: county_name(x), axis = 1)

# Dropping "education" groupby column
output_df = output_df.drop(columns = ["education"], axis = 1)

# Creating ajbstatt_dict based on PDF from 1991 BHPS data
ajbstatt_dict = {"Self employed" : 1, "In paid employ" : 2, "Unemployed" : 3, "Retired" : 4, "Family care" : 5, \
                    "FT student" : 6,  "Long term sick/disabled" : 7, "On matern leave" : 8, \
                    "Govt trng scheme" : 9, "Something else" : 10, "don't know" : -1, "missing or wild" : -9, \
                    "inapplicable" : -8, "proxy" : -7, "refused" : -2}


# Create a new column "ajbstatt_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["ajbstatt_encoded"] = df_residence["ajbstatt"].replace(ajbstatt_dict)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
output_df["job"] = df_residence.groupby("aplb4d")["ajbstatt_encoded"]

# function to calculate dissimilarity in job
def dissimilarity_job(x):
    job = x["job"][1]
    freq = list(job.value_counts())
    s = len(freq)
    dissim_index = 0
    for i in freq:
        dissim_index += 0.5 * abs(i-(1/s))
    return dissim_index

# function to calculate fraction of employed people within each county
def frac_employed(x):
    job = list(x["job"][1])
    frac_emp = (job.count(2)/len(job))
    return frac_emp

output_df["job_variability"] = output_df.apply(lambda x: dissimilarity_job(x), axis = 1)
output_df ["frac_employed"] = output_df.apply(lambda x: frac_employed(x), axis = 1)

# Dropping "education" groupby column
output_df = output_df.drop(columns = ["job"], axis = 1)

# replacing all Not-A-Number cases to zero i.e., proxy values
df_residence["afiyr"] = df_residence["afiyr"].replace("proxy",0)

# Group the dataframe by county and calculate median based on self-reported annual income: "afiyr"
output_df["median_income"] = df_residence.groupby("aplb4d")["afiyr"].agg(["median"])

# convert "afiyr" column to float data type
df_residence["afiyr"] = df_residence["afiyr"].astype("float32")

# group incomes by county
output_df["income"] = df_residence.groupby("aplb4d")["afiyr"]

def gini_index(x):
    data = list(x["income"][1])
    # sort the data in ascending order
    sorted_data = np.sort(data)
    # calculate the cumulative sum of the sorted data
    cumsum_data = np.cumsum(sorted_data)
    # calculate the Lorenz curve values
    lorenz_curve = cumsum_data / cumsum_data[-1]
    # calculate the area under the Lorenz curve
    area_lorenz_curve = np.trapz(lorenz_curve, dx=1/len(data))
    # calculate the Gini index
    gini_index = 1 - 2 * area_lorenz_curve
    return gini_index

output_df["gini_index"] = output_df.apply(lambda x : gini_index(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["income"], axis = 1)

output_df

,std_dev_age,native_share,education_variability,county,job_variability,frac_employed,median_income,gini_index
aplb4d,,,,,,,,
Aberdeen City,15.196623,0.875000,27.5,Aberdeen City,27.5,0.607143,5455.766113,0.519385
Adur; Worthing,21.108135,0.894737,18.5,Adur; Worthing,18.5,0.421053,5003.030273,0.470579
Allerdale; Carlisle,16.277886,0.963303,54.0,Allerdale; Carlisle,54.0,0.605505,6204.619629,0.442821
Alnwick; Berwick; Morpeth; Tynedale,23.060996,1.000000,3.0,Alnwick; Berwick; Morpeth; Tynedale,3.0,0.285714,3715.673340,0.377750
Alyn & Deeside; Delyn; Wrexham Maelor,17.071726,0.975610,61.0,Alyn & Deeside; Delyn; Wrexham Maelor,61.0,0.455285,5108.415039,0.424249
...,...,...,...,...,...,...,...,...
Wirral,19.975800,0.933333,52.0,Wirral,52.0,0.361905,4551.285156,0.563936
Wokingham,15.587291,1.000000,5.0,Wokingham,5.0,0.818182,10648.406250,0.278845
Wolverhampton,17.193862,0.923077,19.0,Wolverhampton,19.0,0.384615,3943.374512,0.465119
Woodspring,20.884911,0.962963,13.0,Woodspring,13.0,0.481481,12391.048828,0.395611
Wycombe,14.807123,0.911765,33.5,Wycombe,33.5,0.514706,8316.907227,0.530993

### POLITICAL POLARIZATION MEASUREMENTS

In [331]:
# Define the dictionary to encode the "aopsocc" column which is Statement 1 (S1)
# S1: "Private enterprise is the best way to solve Britain’s economic problems."
aopsocc_dict = {"Agree":2, "Disagree":4 , "Not agree/disagr": 3 ,"Strongly disagr": 5, 
                "don't know": -1 , "Strongly agree": 1 ,"proxy":-7, "missing or wild": -9, 
                "refused":-2, "inapplicable":-9}

# Create a new column "aopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["aopsocc_encoded"] = df_residence["aopsocc"].replace(aopsocc_dict)

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S1"] = df_residence.groupby("aplb4d")["aopsocc_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("aplb4d")["aopsocc_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("aplb4d")["aopsocc_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S1"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and aopsocc_encoded values
output_df["dkp"] = df_residence.groupby("aplb4d")["aopsocc_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S1"] = output_df.apply(lambda x: duca_saving(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

output_df

,std_dev_age,native_share,education_variability,county,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1
aplb4d,,,,,,,,,,,
Aberdeen City,15.196623,0.875000,27.5,Aberdeen City,27.5,0.607143,5455.766113,0.519385,11.100974,3.946429,0.001572
Adur; Worthing,21.108135,0.894737,18.5,Adur; Worthing,18.5,0.421053,5003.030273,0.470579,3.528450,2.763158,0.002223
Allerdale; Carlisle,16.277886,0.963303,54.0,Allerdale; Carlisle,54.0,0.605505,6204.619629,0.442821,2.161570,3.247706,0.000839
Alnwick; Berwick; Morpeth; Tynedale,23.060996,1.000000,3.0,Alnwick; Berwick; Morpeth; Tynedale,3.0,0.285714,3715.673340,0.377750,0.809524,3.142857,0.081633
Alyn & Deeside; Delyn; Wrexham Maelor,17.071726,0.975610,61.0,Alyn & Deeside; Delyn; Wrexham Maelor,61.0,0.455285,5108.415039,0.424249,2.808210,3.186992,0.000660
...,...,...,...,...,...,...,...,...,...,...,...
Wirral,19.975800,0.933333,52.0,Wirral,52.0,0.361905,4551.285156,0.563936,6.713919,3.342857,0.000415
Wokingham,15.587291,1.000000,5.0,Wokingham,5.0,0.818182,10648.406250,0.278845,0.890909,2.909091,0.016529
Wolverhampton,17.193862,0.923077,19.0,Wolverhampton,19.0,0.384615,3943.374512,0.465119,5.955466,3.025641,0.023938
Woodspring,20.884911,0.962963,13.0,Woodspring,13.0,0.481481,12391.048828,0.395611,2.122507,2.481481,0.009145
Wycombe,14.807123,0.911765,33.5,Wycombe,33.5,0.514706,8316.907227,0.530993,5.403863,3.029412,0.000884

In [332]:
# Define the dictionary to encode the "aopsocd" column which is Statement 2 (S2)
# S2: "Major public services and industries ought to be in state ownership."

aopsocd_dict = {"Agree":2, "Disagree":4 , "Not agree/disagr": 3 ,"Strongly disagr": 5, 
                "don't know": -1 , "Strongly agree": 1 ,"proxy":-7, "missing or wild": -9, 
                "refused":-2, "inapplicable":-9, "Not agree/disag": 3}

# Create a new column "aopsocd_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["aopsocd_encoded"] = df_residence["aopsocd"].replace(aopsocd_dict)

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S2"] = df_residence.groupby("aplb4d")["aopsocd_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("aplb4d")["aopsocd_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("aplb4d")["aopsocd_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S2"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and aopsocc_encoded values
output_df["dkp"] = df_residence.groupby("aplb4d")["aopsocd_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S2"] = output_df.apply(lambda x: duca_saving(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

output_df

,std_dev_age,native_share,education_variability,county,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1,Lindqvist_Ostling_S2,Abramowitz_Saunders_S2,Duca_Saving_S2
aplb4d,,,,,,,,,,,,,,
Aberdeen City,15.196623,0.875000,27.5,Aberdeen City,27.5,0.607143,5455.766113,0.519385,11.100974,3.946429,0.001572,9.724675,3.142857,0.001526
Adur; Worthing,21.108135,0.894737,18.5,Adur; Worthing,18.5,0.421053,5003.030273,0.470579,3.528450,2.763158,0.002223,4.275960,2.842105,0.001713
Allerdale; Carlisle,16.277886,0.963303,54.0,Allerdale; Carlisle,54.0,0.605505,6204.619629,0.442821,2.161570,3.247706,0.000839,2.273700,2.944954,0.000797
Alnwick; Berwick; Morpeth; Tynedale,23.060996,1.000000,3.0,Alnwick; Berwick; Morpeth; Tynedale,3.0,0.285714,3715.673340,0.377750,0.809524,3.142857,0.081633,2.476190,3.142857,0.037901
Alyn & Deeside; Delyn; Wrexham Maelor,17.071726,0.975610,61.0,Alyn & Deeside; Delyn; Wrexham Maelor,61.0,0.455285,5108.415039,0.424249,2.808210,3.186992,0.000660,2.577102,2.658537,0.000605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wirral,19.975800,0.933333,52.0,Wirral,52.0,0.361905,4551.285156,0.563936,6.713919,3.342857,0.000415,6.694689,3.142857,0.001607
Wokingham,15.587291,1.000000,5.0,Wokingham,5.0,0.818182,10648.406250,0.278845,0.890909,2.909091,0.016529,0.963636,2.818182,0.015778
Wolverhampton,17.193862,0.923077,19.0,Wolverhampton,19.0,0.384615,3943.374512,0.465119,5.955466,3.025641,0.023938,6.300945,3.461538,0.025826
Woodspring,20.884911,0.962963,13.0,Woodspring,13.0,0.481481,12391.048828,0.395611,2.122507,2.481481,0.009145,1.256410,3.222222,0.009755
Wycombe,14.807123,0.911765,33.5,Wycombe,33.5,0.514706,8316.907227,0.530993,5.403863,3.029412,0.000884,5.500219,3.308824,0.000588

In [333]:
# Define the dictionary to encode the "aopsocd" column which is Statement 3 (S3)
# S3: "It is the government’s responsibility to provide a job for everyone who wants one."

aopsoce_dict = {"Agree":2, "Disagree":4 , "Not agree/disagr": 3 ,"Strongly disagr": 5, 
                "don't know": -1 , "Strongly agree": 1 ,"proxy":-7, "missing or wild": -9, 
                "refused":-2, "inapplicable":-9, "Not agree/disag": 3}

# Create a new column "aopsocd_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["aopsoce_encoded"] = df_residence["aopsoce"].replace(aopsoce_dict)

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S3"] = df_residence.groupby("aplb4d")["aopsoce_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("aplb4d")["aopsoce_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("aplb4d")["aopsoce_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S3"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and aopsocc_encoded values
output_df["dkp"] = df_residence.groupby("aplb4d")["aopsoce_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S3"] = output_df.apply(lambda x: duca_saving(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

output_df

,std_dev_age,native_share,education_variability,county,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1,Lindqvist_Ostling_S2,Abramowitz_Saunders_S2,Duca_Saving_S2,Lindqvist_Ostling_S3,Abramowitz_Saunders_S3,Duca_Saving_S3
aplb4d,,,,,,,,,,,,,,,,,
Aberdeen City,15.196623,0.875000,27.5,Aberdeen City,27.5,0.607143,5455.766113,0.519385,11.100974,3.946429,0.001572,9.724675,3.142857,0.001526,9.463636,3.000000,0.022208
Adur; Worthing,21.108135,0.894737,18.5,Adur; Worthing,18.5,0.421053,5003.030273,0.470579,3.528450,2.763158,0.002223,4.275960,2.842105,0.001713,4.029161,2.815789,0.002424
Allerdale; Carlisle,16.277886,0.963303,54.0,Allerdale; Carlisle,54.0,0.605505,6204.619629,0.442821,2.161570,3.247706,0.000839,2.273700,2.944954,0.000797,2.053857,2.513761,0.000795
Alnwick; Berwick; Morpeth; Tynedale,23.060996,1.000000,3.0,Alnwick; Berwick; Morpeth; Tynedale,3.0,0.285714,3715.673340,0.377750,0.809524,3.142857,0.081633,2.476190,3.142857,0.037901,1.285714,3.571429,0.029155
Alyn & Deeside; Delyn; Wrexham Maelor,17.071726,0.975610,61.0,Alyn & Deeside; Delyn; Wrexham Maelor,61.0,0.455285,5108.415039,0.424249,2.808210,3.186992,0.000660,2.577102,2.658537,0.000605,2.077702,2.715447,0.000175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wirral,19.975800,0.933333,52.0,Wirral,52.0,0.361905,4551.285156,0.563936,6.713919,3.342857,0.000415,6.694689,3.142857,0.001607,6.315385,3.000000,0.001513
Wokingham,15.587291,1.000000,5.0,Wokingham,5.0,0.818182,10648.406250,0.278845,0.890909,2.909091,0.016529,0.963636,2.818182,0.015778,0.818182,2.727273,0.045079
Wolverhampton,17.193862,0.923077,19.0,Wolverhampton,19.0,0.384615,3943.374512,0.465119,5.955466,3.025641,0.023938,6.300945,3.461538,0.025826,6.677463,3.282051,0.006355
Woodspring,20.884911,0.962963,13.0,Woodspring,13.0,0.481481,12391.048828,0.395611,2.122507,2.481481,0.009145,1.256410,3.222222,0.009755,2.054131,3.222222,0.002185
Wycombe,14.807123,0.911765,33.5,Wycombe,33.5,0.514706,8316.907227,0.530993,5.403863,3.029412,0.000884,5.500219,3.308824,0.000588,5.649473,3.308824,0.002328

In [334]:
output_df.reset_index(drop=True, inplace=True)

In [335]:
output_df

,std_dev_age,native_share,education_variability,county,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1,Lindqvist_Ostling_S2,Abramowitz_Saunders_S2,Duca_Saving_S2,Lindqvist_Ostling_S3,Abramowitz_Saunders_S3,Duca_Saving_S3
0,15.196623,0.875000,27.5,Aberdeen City,27.5,0.607143,5455.766113,0.519385,11.100974,3.946429,0.001572,9.724675,3.142857,0.001526,9.463636,3.000000,0.022208
1,21.108135,0.894737,18.5,Adur; Worthing,18.5,0.421053,5003.030273,0.470579,3.528450,2.763158,0.002223,4.275960,2.842105,0.001713,4.029161,2.815789,0.002424
2,16.277886,0.963303,54.0,Allerdale; Carlisle,54.0,0.605505,6204.619629,0.442821,2.161570,3.247706,0.000839,2.273700,2.944954,0.000797,2.053857,2.513761,0.000795
3,23.060996,1.000000,3.0,Alnwick; Berwick; Morpeth; Tynedale,3.0,0.285714,3715.673340,0.377750,0.809524,3.142857,0.081633,2.476190,3.142857,0.037901,1.285714,3.571429,0.029155
4,17.071726,0.975610,61.0,Alyn & Deeside; Delyn; Wrexham Maelor,61.0,0.455285,5108.415039,0.424249,2.808210,3.186992,0.000660,2.577102,2.658537,0.000605,2.077702,2.715447,0.000175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,19.975800,0.933333,52.0,Wirral,52.0,0.361905,4551.285156,0.563936,6.713919,3.342857,0.000415,6.694689,3.142857,0.001607,6.315385,3.000000,0.001513
282,15.587291,1.000000,5.0,Wokingham,5.0,0.818182,10648.406250,0.278845,0.890909,2.909091,0.016529,0.963636,2.818182,0.015778,0.818182,2.727273,0.045079
283,17.193862,0.923077,19.0,Wolverhampton,19.0,0.384615,3943.374512,0.465119,5.955466,3.025641,0.023938,6.300945,3.461538,0.025826,6.677463,3.282051,0.006355
284,20.884911,0.962963,13.0,Woodspring,13.0,0.481481,12391.048828,0.395611,2.122507,2.481481,0.009145,1.256410,3.222222,0.009755,2.054131,3.222222,0.002185
285,14.807123,0.911765,33.5,Wycombe,33.5,0.514706,8316.907227,0.530993,5.403863,3.029412,0.000884,5.500219,3.308824,0.000588,5.649473,3.308824,0.002328