### British Household Panel Survey (BHPS) data conversion from SPSS to CSV workflow

In [1]:
import pandas as pd
import os
import time

In [44]:
os.chdir(r"C:\Users\Sidrcs\Downloads\SPSS_Processed\UKDA-5151-spss\spss\spss19")

Reading SPSS files in python is supported by <code>pyreadstat</code>. Therefore use <code> pip install pyreadstat</code>. Now, <code>pd.read_spss()</code> method works with loading of <code>.sav</code> files. The concept is outsourced from <a href = "https://www.marsja.se/how-to-read-write-spss-files-in-python-pandas/">marsja blog</a>

In [26]:
for i in range(1,19):
    folder = f"bhps_w{i}"
    for file in os.listdir(folder):
        if file.endswith(".sav"):
            path = folder + "\\" + file
            csv = file.split(".")[0]
            export_path = folder + "\\" + csv + ".csv"
            df = pd.read_spss(path)
            df.to_csv(export_path)

In [27]:
os.chdir(r"C:\Users\Sidrcs\Documents\Github\Geog_575_Final_Project\data")

In [29]:
for i in range(1,19):
    folder = f"bhps_w{i}"
    for file in os.listdir(folder):
        if file.endswith(".sav"):
            path = folder + "\\" + file
            os.remove(path)

In [45]:
df_residence = pd.read_csv(r"C:\Users\Sidrcs\Downloads\SPSS_Processed\UKDA-5151-spss\spss\spss19\bhps_w1\aindresp.csv")

C:\Users\Sidrcs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,5,6,16,550,551,789,790,792,793) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_jobhist = pd.read_csv(r"C:\Users\Sidrcs\Downloads\SPSS_Processed\UKDA-5151-spss\spss\spss19\bhps_w1\ajobhist.csv")

In [5]:
df_residence.describe()

,Unnamed: 0,ahid,apno,pid,pidp,axrwght,axewght,aage,aage12,abuno,...,aj2soc_cc,ajusoc_cc,ajbsocly_cc,aspsoc_cc,ajbiscon_cc,ajliscon_cc,amaiscon_cc,apaiscon_cc,amrjiscn_cc,amaisco_cc
count,10264.000000,1.026400e+04,10264.000000,1.026400e+04,1.026400e+04,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,...,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000,10264.000000
mean,5131.500000,1.394265e+06,1.642537,1.473026e+07,2.184750e+08,0.965705,1.030037,44.415530,44.524454,1.395168,...,-3.139614,-4.022701,25.728956,15.672642,285.144193,150.233242,224.227689,476.299981,475.640978,224.227689
std,2963.105916,2.185230e+05,0.807344,2.621806e+06,2.778717e+08,0.306323,0.227267,18.457566,18.467264,0.766720,...,17.798719,16.105723,34.715797,32.716359,308.951751,287.328767,322.563857,339.919032,277.314799,322.563857
min,0.000000,1.000209e+06,1.000000,1.000225e+07,6.870000e+02,0.000000,0.214160,15.000000,15.000000,1.000000,...,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,2565.750000,1.204823e+06,1.000000,1.245758e+07,2.360118e+06,0.844836,0.906451,29.000000,29.000000,1.000000,...,-8.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.000000,131.000000,243.000000,-8.000000
50%,5131.500000,1.394219e+06,1.000000,1.472922e+07,4.721587e+06,0.966817,1.016328,42.000000,42.000000,1.000000,...,-8.000000,-8.000000,19.000000,-8.000000,214.000000,-8.000000,-8.000000,522.000000,421.000000,-8.000000
75%,7697.250000,1.586696e+06,2.000000,1.703904e+07,4.104788e+08,1.103551,1.142733,59.000000,59.000000,2.000000,...,-8.000000,-8.000000,52.000000,41.000000,513.000000,231.000000,511.000000,744.000000,723.000000,511.000000
max,10263.000000,1.761811e+06,7.000000,1.914051e+07,8.200433e+08,2.499446,2.498486,96.000000,97.000000,7.000000,...,99.000000,99.000000,99.000000,99.000000,933.000000,933.000000,933.000000,933.000000,933.000000,933.000000

In [32]:
# Let us only take for England counties for now
df_residence["aplb4d"].value_counts()

inapplicable                   485
Sheffield                      234
Birmingham                     217
missing or wild                177
Edinburgh City                 176
                              ...
Devon n.o.s.                     1
Essex n.o.s.                     1
Darlington; Teesdale             1
Northern Ireland                 1
NW Highlands; Western Isles      1
Name: aplb4d, Length: 290, dtype: int64

In [42]:
counts = df_residence["aplb4d"].value_counts()
counts_gt_100 = counts[counts >60]
print(counts_gt_100)

inapplicable                             485
Sheffield                                234
Birmingham                               217
missing or wild                          177
Edinburgh City                           176
Wakefield                                159
Manchester                               149
Newcastle upon Tyne                      127
Alyn & Deeside; Delyn; Wrexham Maelor    123
Bradford                                 113
Allerdale; Carlisle                      109
Wirral                                   105
Dundee City                               98
Thamesdown                                96
Lambeth                                   95
Milton Keynes                             85
Blaenau Gwent; Islywn                     83
Cunninghame                               82
E Staff; Staffordshire Moorlands          79
Lewisham                                  78
Broadland; Norwich                        78
Blackburn                                 78
Amber Valley; NE Derbyshire               77
Sandwell                                  75
Leeds                                     75
Gateshead                                 74
Hartlepool; Stockton                      74
Merton                                    74
Dudley                                    73
Plymouth                                  73
Stoke-on-Trent                            72
Cleethorpes; Great Grimsby                72
Arun                                      70
Wycombe                                   68
Macclesfield                              66
Huntingdonshire                           65
Kennet; Salisbury                         64
Sevenoaks; Tonbridge & Malling            64
Bromsgrove; Wyre Forest                   63
Bath; Kingswood; Wansdyke                 61
Bromley                                   61
Bolton                                    61
Name: aplb4d, dtype: int64

In [15]:
#S1: Private Enterprise is the best way to solve Britains's economic problems
df_residence["aopsocc"].value_counts()

Agree               2766
Disagree            2679
Not agree/disagr    2656
Strongly disagr      836
don't know           521
Strongly agree       433
proxy                352
missing or wild       18
refused                3
Name: aopsocc, dtype: int64

In [16]:
#S2: Major public services and industries ought to be in state ownership
df_residence["aopsocd"].value_counts()

Agree              3249
Disagree           2780
Not agree/disag    2059
Strongly disagr     765
Strongly agree      602
don't know          437
proxy               352
missing or wild      15
refused               5
Name: aopsocd, dtype: int64

In [17]:
#S3: It is the government's responsibility to provide a job for everyone who wants one
df_residence["aopsoce"].value_counts()

Agree              3990
Disagree           3123
Not agree/disag    1110
Strongly disagr     791
Strongly agree      772
proxy               352
don't know          107
missing or wild      16
refused               3
Name: aopsoce, dtype: int64

In [22]:
#Need to compute - standard deviation of individual age in a county: "aage12" age of survey respondent 
df_residence["aage12"].value_counts()

44.0    239
26.0    234
30.0    231
31.0    227
34.0    220
       ...
92.0      2
96.0      1
94.0      1
97.0      1
15.0      1
Name: aage12, Length: 82, dtype: int64

In [38]:
# Need to compute - income inequality using Gini coefficient for each county
# "afiyr" : Self-reported annual income
df_residence["afiyr"].value_counts()

proxy                 352
0.0                   213
60.0                  112
600.0                  79
1800.0                 37
                     ...
5557.72216796875        1
18265.119140625         1
414.05621337890625      1
22905.3125              1
4783.30029296875        1
Name: afiyr, Length: 8561, dtype: int64

In [27]:
# consider inapplicable as residents of UK?
df_residence["aplbornc_cc"].value_counts()

inapplicable           9244
missing or wild         312
other country           191
republic of ireland     107
india                    73
germany                  46
pakistan                 45
jamaica                  33
kenya                    33
italy                    23
u.s.a                    21
south africa             18
australia                18
uganda                   15
cyprus                   14
bangladesh               13
china/ hong kong         10
new zealand              10
poland                   10
canada                    9
ghana                     5
france                    5
sri lanka                 4
turkey                    3
29.0                      2
Name: aplbornc_cc, dtype: int64

In [39]:
df_residence["afetype"].value_counts()

None of the above       6647
College of f educ       1436
Other trng establmnt     683
University               619
Polytechnic              357
Nursing school etc       285
inapplicable             176
missing or wild           56
don't know                 4
refused                    1
Name: afetype, dtype: int64

In [40]:
df_residence["ajbstatt"].value_counts()

In paid employ             4950
Retired                    1758
Family care                1169
Self employed               760
Unemployed                  532
FT student                  376
proxy                       352
Long term sick/disabled     267
Something else               39
Govt trng scheme             33
On matern leave              15
missing or wild              13
Name: ajbstatt, dtype: int64

## Interested variables for visualization
Look for <code>aindresp.csv</code>. Required variables are: (These are columns names and their corresponding interpretation) <ul><li><code>aopsocc</code> : "Private enterprise is the best way to solve Britain’s economic problems"</li> <li><code>aopsocd</code> : "Major public services and industries ought to be in state ownership"</li> <li><code>aopsoce</code> : "It is the government’s responsibility to provide a job for everyone who wants one" </li> <li><code>afiyr</code> : Self-reported annual income</li> <li><code>afetype</code> : Educational qualification</li> <li><code>aplobornc_cc</code> : Country of birth</li> <li><code>aage12</code> : Age</li> <li><code>ajbstatt</code> : Employment status</li> <li><code>aplb4d</code> : county name</li></ul>

### Task: create a dictionary for <code>aplb4d</code> as key and FID values in ArcGIS for that county as values. The output CSV should have the aforementioned information

### Calculation of income inequality by Gini index in each county

In [58]:
import numpy as np
import pandas as pd

# convert "afiyr" column to float data type
df_residence["afiyr"] = df_residence["afiyr"].astype("float32")

# group incomes by county
grouped = df_residence.groupby("aplb4d")

# define a function to calculate the Gini index
def gini_coefficient(x):
    # sort incomes in ascending order
    x = np.sort(x)
    # calculate cumulative share of income
    cum_income = np.cumsum(x) / np.sum(x)
    # calculate cumulative share of population
    cum_pop = np.arange(1, len(x)+1) / len(x)
    # calculate area between Lorenz curve and line of perfect equality
    area = np.trapz(cum_income, cum_pop)
    # calculate Gini coefficient
    gini = 2*area - 1
    return gini

# apply the function to each county group
gini_by_county = grouped["afiyr"].apply(gini_coefficient)

# create a new DataFrame with the results
gini_df = pd.DataFrame({"Gini Index": gini_by_county})

# display the results
print(gini_df)

                                       Gini Index
aplb4d
Aberdeen City                                 NaN
Adur; Worthing                                NaN
Allerdale; Carlisle                           NaN
Alnwick; Berwick; Morpeth; Tynedale     -0.377750
Alyn & Deeside; Delyn; Wrexham Maelor         NaN
...                                           ...
Wycombe                                       NaN
don't know                                    NaN
inapplicable                                  NaN
missing or wild                               NaN
refused                                 -0.575768

[290 rows x 1 columns]

### Calculation of variability of the highest educational qualifcation in each county

In [59]:
import numpy as np
import pandas as pd

# group individuals by county
grouped = df_residence.groupby("aplb4d")

# define a function to calculate the dissimilarity index
def dissimilarity_index(x):
    # calculate the proportion of individuals in each occupation category
    p = x["afetype"].value_counts(normalize=True)
    # calculate the proportion of individuals in each occupation category for the complement group
    q = 1 - p
    # calculate the dissimilarity index
    dissimilarity = 0.5 * np.sum(np.abs(p - q))
    return dissimilarity

# apply the function to each county group
dissimilarity_by_county = grouped.apply(dissimilarity_index)

# create a new DataFrame with the results
dissimilarity_df = pd.DataFrame({"Dissimilarity Index": dissimilarity_by_county})

# display the results
print(dissimilarity_df)

                                       Dissimilarity Index
aplb4d
Aberdeen City                                     2.392857
Adur; Worthing                                    1.921053
Allerdale; Carlisle                               2.467890
Alnwick; Berwick; Morpeth; Tynedale               0.642857
Alyn & Deeside; Delyn; Wrexham Maelor             3.349593
...                                                    ...
Wycombe                                           2.705882
don't know                                        0.500000
inapplicable                                      3.084536
missing or wild                                   2.754237
refused                                           1.333333

[290 rows x 1 columns]

### Calculation of variability of job status in each county

In [60]:
import numpy as np
import pandas as pd

# group individuals by county
grouped = df_residence.groupby("aplb4d")

# define a function to calculate the dissimilarity index
def dissimilarity_index(x):
    # calculate the proportion of individuals in each occupation category
    p = x["ajbstatt"].value_counts(normalize=True)
    # calculate the proportion of individuals in each occupation category for the complement group
    q = 1 - p
    # calculate the dissimilarity index
    dissimilarity = 0.5 * np.sum(np.abs(p - q))
    return dissimilarity

# apply the function to each county group
dissimilarity_by_county = grouped.apply(dissimilarity_index)

# create a new DataFrame with the results
dissimilarity_df = pd.DataFrame({"Dissimilarity Index": dissimilarity_by_county})

# display the results
print(dissimilarity_df)

                                       Dissimilarity Index
aplb4d
Aberdeen City                                     3.214286
Adur; Worthing                                    2.500000
Allerdale; Carlisle                               3.211009
Alnwick; Berwick; Morpeth; Tynedale               1.000000
Alyn & Deeside; Delyn; Wrexham Maelor             3.500000
...                                                    ...
Wycombe                                           3.529412
don't know                                        0.500000
inapplicable                                      4.014433
missing or wild                                   3.709040
refused                                           2.500000

[290 rows x 1 columns]