# Polarization calculation 1995

In [1]:
import pandas as pd
import os
import time
import numpy as np

In [2]:
os.chdir(r"A:\UW-Madison\GIS SPRING 2023\Geog 575\Final_Project\SPSS_Processed\UKDA-5151-spss\spss\spss19")

In [3]:
df_residence = pd.read_csv(r"A:\UW-Madison\GIS SPRING 2023\Geog 575\Final_Project\SPSS_Processed\UKDA-5151-spss\spss\spss19\bhps_w5\eindresp.csv")

C:\Users\ramak\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6,7,28,400,588,824,858,859,870,871,872,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,975,999,1001) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
print(list(df_residence.columns))

['Unnamed: 0', 'ehid', 'epno', 'edoid', 'edoim', 'edoiy', 'eivsoih', 'eivsoim', 'eivlyr', 'eivievr', 'elknbrd', 'elkmove', 'elkmovy', 'eplnew', 'eplnowm', 'eplnowy', 'emovjb', 'emovjba', 'emovjbb', 'emovjbc', 'emovjbd', 'emovjbe', 'emovjbf', 'emovjbg', 'emovjbh', 'emovjbi', 'emovy1', 'emovy2', 'edoby', 'esex', 'ejbstat', 'eedlyr', 'eedendm', 'eedendy', 'eedtype', 'eqfx', 'eqfxa', 'eqfxb', 'eqfxc', 'eqfxd', 'eqfxe', 'eqfxf', 'eqfxg', 'eqfxh', 'eqfxi', 'eqfxj', 'eqfxk', 'eqfxl', 'eqfxm', 'eqfxn', 'eqfedx', 'eqfedxa', 'enqfexa', 'eqfedxb', 'enqfexb', 'eqfedxc', 'enqfexc', 'eqfedxd', 'eqfedxe', 'enqfexe', 'eqfedxf', 'enqfexf', 'eqfedxg', 'enqfexg', 'eqfedxh', 'enqfexh', 'eqfedxi', 'enqfexi', 'eqfedxj', 'enqfexj', 'eqfedxk', 'enqfexk', 'emlstat', 'emlchng', 'emlchm', 'emlchy', 'eyr2uk', 'erace', 'eschool', 'escend', 'esctype', 'escnow', 'efetype', 'efenow', 'efeend', 'eqfhas', 'eqfa', 'eqfb', 'eqfc', 'eqfd', 'eqfe', 'eqff', 'eqfg', 'eqfh', 'eqfi', 'eqfj', 'eqfk', 'eqfl', 'eqfm', 'eqfn', 'eqfed', 'eqfeda', 'enqfeda', 'eqfedb', 'enqfedb', 'eqfedc', 'enqfedc', 'eqfedd', 'enqfedd', 'eqfede', 'enqfede', 'eqfedf', 'enqfedf', 'eqfedg', 'enqfedg', 'eqfedh', 'enqfedh', 'eqfedi', 'enqfedi', 'eqfedj', 'enqfedj', 'eqfedk', 'enqfedk', 'eqfedl', 'enqfedl', 'eqfedm', 'enqfedm', 'eqfedn', 'enqfedn', 'eqfedo', 'enqfedo', 'eqfedp', 'enqfedp', 'eqfedq', 'enqfedq', 'eqfedr', 'enqfedr', 'eqfeds', 'enqfeds', 'ehlstat', 'ehlzest', 'ehldsbl', 'ehlprb', 'ehlprba', 'ehlprbb', 'ehlprbc', 'ehlprbd', 'ehlprbe', 'ehlprbf', 'ehlprbg', 'ehlprbh', 'ehlprbi', 'ehlprbj', 'ehlprbk', 'ehlprbl', 'ehlprbm', 'ehllt', 'ehllta', 'ehlltb', 'ehlltc', 'ehlltd', 'ehllte', 'ehlltw', 'ehlendw', 'ehlltwa', 'ehl2gp', 'exdts', 'enxdts', 'exdt1m', 'exdt2m', 'exdt3m', 'exdt1y', 'exdt2y', 'exdt3y', 'exdt1pl', 'exdt2pl', 'exdt3pl', 'ehosp', 'ehospd', 'ehospch', 'ehospnhs', 'ehlsv', 'ehlsva', 'ehlsvan', 'ehlsvaf', 'ehlsvb', 'ehlsvbn', 'ehlsvbf', 'ehlsvc', 'ehlsvcn', 'ehlsvcf', 'ehlsvd', 'ehlsvdn', 'ehlsvdf', 'ehlsve', 'ehlsven', 'ehlsvef', 'ehlsvf', 'ehlsvfn', 'ehlsvff', 'ehlsvg', 'ehlsvgn', 'ehlsvgf', 'ehlsvh', 'ehlsvhn', 'ehlsvhf', 'ehlsvi', 'ehlsvin', 'ehlsvif', 'ehlsvj', 'ehlsvjn', 'ehlsvjf', 'ehlsvk', 'ehlsvkn', 'ehlsvkf', 'ehlsvl', 'ehlsvln', 'ehlsvlf', 'ehlsvm', 'ehlsvmn', 'ehlsvmf', 'ehlck', 'ehlcka', 'ehlckan', 'ehlckb', 'ehlckbn', 'ehlckc', 'ehlckcn', 'ehlckd', 'ehlckdn', 'ehlcke', 'ehlcken', 'ehlckf', 'ehlckfn', 'ehlckg', 'ehlckgn', 'ehlckh', 'ehlckhn', 'ehlcki', 'ehlckin', 'esmoker', 'encigs', 'eophla', 'eophlb', 'eophlc', 'eaidhh', 'eaidhua', 'eaidhub', 'eaidhuc', 'eaidxhh', 'enaidxhh', 'eaidhu1', 'eaidhu2', 'eaidhrs', 'eivma', 'eivmb', 'eivmc', 'eivmd', 'eivme', 'ejbhas', 'ejboff', 'ejboffy', 'ejbterm', 'ejbsic', 'ejbsemp', 'ejbmngr', 'ejbsize', 'ejbhrs', 'ejbot', 'ejbotpd', 'ejbhrlk', 'ejbpl', 'ejbttwt', 'ejbttwm', 'ejbsat1', 'ejbsat2', 'ejbsat3', 'ejbsat4', 'ejbsat5', 'ejbsat6', 'ejbsat7', 'ejbsat', 'epaygl', 'epaygw', 'epaynl', 'epaynw', 'epayslp', 'epayusl', 'epayu', 'epayuw', 'epayug', 'epaydf1', 'epaydf2', 'epaydf3', 'epaydf4', 'epaydf5', 'epaydf6', 'epaydf7', 'epaydf8', 'ejbbgd', 'ejbbgm', 'ejbbgy', 'ejbbgly', 'ejbsect', 'ejbonus', 'ejbrise', 'etujbpl', 'etuin1', 'etuin2', 'ejbopps', 'ejbtime', 'epays', 'epaysw', 'epaysg', 'ejbpen', 'ejbpenm', 'epayly', 'epaylyw', 'epaylyg', 'ejsboss', 'ejssize', 'ejshrs', 'ejshrlk', 'ejstime', 'ejstype', 'ejsaccs', 'ejsprf', 'ejsprbm', 'ejsprby', 'ejsprem', 'ejsprey', 'ejspayl', 'ejspybm', 'ejspyby', 'ejspyem', 'ejspyey', 'ejspl', 'ejsttwt', 'ejsttwm', 'ejssat1', 'ejssat2', 'ejssat3', 'ejssat4', 'ejssat5', 'ejssat', 'ejsbgd', 'ejsbgm', 'ejsbgy', 'ejbed', 'ejbed1', 'ejbed2', 'ejbed3', 'ejbed4', 'ejbed5', 'ejbedq', 'ejbedp1', 'erach12', 'ejbchc1', 'ejbchc2', 'ejbchc3', 'expchcf', 'expchc', 'ehuxpch', 'ehunurs', 'ejulk1', 'ejulk4', 'ejulkjb', 'ejuspec', 'ejuhrsx', 'ejupayx', 'ejupayl', 'ejuhrsl', 'eeaage', 'ejbub', 'ejbuby', 'ej2has', 'ej2semp', 'ej2hrs', 'ej2pay', 'ejbhha', 'ejbhhb', 'ejbhhc', 'ejbhhd', 'ejbhhe', 'ejbhhf', 'eivea', 'eiveb', 'eivec', 'eived', 'eivee', 'eednew', 'eednew1', 'eednew2', 'eednew3', 'eednew4', 'eednewq', 'eednewp1', 'enemst', 'ecjsbgd', 'ecjsbgm', 'ecjsbgy', 'ecjsbly', 'enjbs', 'ejbhad', 'ejlend', 'ejlsic', 'ejlsemp', 'ejlboss', 'ejlmngr', 'ejlsize', 'eivja', 'eivjb', 'eivjc', 'eivjd', 'eivje', 'eopsoca', 'eopsocb', 'eopsocc', 'eopsocd', 'eopsoce', 'eopsocf', 'evote1', 'evote2', 'evote3', 'evote4', 'evote5', 'evote7', 'evote8', 'evote6', 'eoppol1', 'eoppol2', 'eoppol3', 'eoppol4', 'eopchd1', 'eopchd2', 'eopchd3', 'eopchd4', 'eorgm', 'eorgma', 'eorgaa', 'eorgmb', 'eorgab', 'eorgmc', 'eorgac', 'eorgmd', 'eorgad', 'eorgme', 'eorgae', 'eorgmf', 'eorgaf', 'eorgmg', 'eorgag', 'eorgmh', 'eorgah', 'eorgmi', 'eorgai', 'eorgmj', 'eorgaj', 'eorgmk', 'eorgak', 'eorgml', 'eorgal', 'eorgmm', 'eorgam', 'eorgmo', 'eorgao', 'eorgmp', 'eorgap', 'eorgmq', 'eorgaq', 'eorga', 'eoprlg2', 'ecaruse', 'eyppar', 'epyhlth', 'epyhwrk', 'epysxed', 'epysxag', 'epynyp', 'epypno1', 'epyage1', 'epypno2', 'epyage2', 'epypno3', 'epyage3', 'epywhr1', 'epyman1', 'epyarg1', 'epytlk1', 'epysmk1', 'epysad1', 'epywor1', 'epyhsw1', 'epyhap1', 'epyhfm1', 'epyhfr1', 'epyhlf1', 'epyhlt1', 'epywhr2', 'epyman2', 'epyarg2', 'epytlk2', 'epysmk2', 'epysad2', 'epywor2', 'epyhsw2', 'epyhap2', 'epyhfm2', 'epyhfr2', 'epyhlf2', 'epyhlt2', 'epywhr3', 'epyman3', 'epyarg3', 'epytlk3', 'epysmk3', 'epysad3', 'epywor3', 'epyhsw3', 'epyhap3', 'epyhfm3', 'epyhfr3', 'epyhlf3', 'epyhlt3', 'epyra', 'epysat1', 'epysat2', 'epysat3', 'epyspn1', 'epysty1', 'epytae1', 'epytam1', 'epytas1', 'epyste1', 'epystm1', 'epysts1', 'epyspn2', 'epysty2', 'epytae2', 'epytam2', 'epytas2', 'epyste2', 'epystm2', 'epysts2', 'epyspn3', 'epysty3', 'epytae3', 'epytam3', 'epytas3', 'epyste3', 'epystm3', 'epysts3', 'ef101', 'ef102', 'ef103', 'ef104', 'ef105', 'ef106', 'ef116', 'ef117', 'ef118', 'ef119', 'ef120', 'ef121', 'ef122', 'ef123', 'ef124', 'ef125', 'ef131', 'ef132', 'ef133', 'ef134', 'ef135', 'ef136', 'ef137', 'ef138', 'ef139', 'ef140', 'ef141', 'ef151', 'ef152', 'ef153', 'ef154', 'ef155', 'ef156', 'ef157', 'ef158', 'ef159', 'enf1', 'efisit', 'efisitc', 'efisity', 'efisitx', 'eopxpsv', 'eopxpcr', 'efccard', 'efiyrdi', 'efiyrdiu', 'esave', 'esaved', 'esavey1', 'esavey2', 'esavek', 'esavekb1', 'esavekb2', 'esavekb3', 'esavekb4', 'esavej', 'ebank', 'ebankk', 'ebankkb1', 'ebankkb2', 'ebankkb3', 'ebankkb4', 'ebankj', 'envest', 'envesta', 'envestb', 'envestc', 'envestd', 'enveste', 'envestf', 'envestg', 'envestn', 'envestl', 'envestk', 'envestc1', 'envestc2', 'envestc3', 'envestc4', 'envestj', 'epppen', 'epenb4', 'epenb4yr', 'epenb4v', 'epenb4w', 'epenyr', 'epenadd', 'epenadv', 'epenadw', 'ewindf', 'ewindfa', 'ewindfb', 'ewindfc', 'ewindfd', 'ewindfe', 'ewindff', 'ewindfg', 'ewindfh', 'ewindfy', 'efthh', 'efthh1', 'efthh11', 'efthh12', 'efthh13', 'efthh14', 'efthh15', 'efthh16', 'efthh1v', 'efthh1w', 'efthh2', 'efthh21', 'efthh22', 'efthh23', 'efthh24', 'efthh25', 'efthh26', 'efthh2v', 'efthh2w', 'efthh3', 'efthh31', 'efthh32', 'efthh33', 'efthh34', 'efthh35', 'efthh36', 'efthh3v', 'efthh3w', 'eftexhh', 'eftexa', 'eftexa1', 'eftexa2', 'eftexa3', 'eftexa4', 'eftexa5', 'eftexa6', 'eftexav', 'eftexaw', 'eftexb', 'eftexb1', 'eftexb2', 'eftexb3', 'eftexb4', 'eftexb5', 'eftexb6', 'eftexbv', 'eftexbw', 'eftexc', 'eftexc1', 'eftexc2', 'eftexc3', 'eftexc4', 'eftexc5', 'eftexc6', 'eftexcv', 'eftexcw', 'edebt', 'edebta', 'edebtb', 'edebtc', 'edebtd', 'edebte', 'edebtf', 'edebtg', 'edebty', 'edebtc1', 'edebtc2', 'edebtc3', 'edebtc4', 'edebtj', 'espinhh', 'ehuruns', 'ehuboss', 'ehubuys', 'ehufrys', 'ehumops', 'ehuiron', 'ehhch12', 'ehusits', 'ehowlng', 'eivfa', 'eivfb', 'eivfc', 'eivfd', 'eivfe', 'eivfoih', 'eivfoim', 'eivsc', 'emrssci', 'emrssch', 'eiv1', 'eiv2', 'eiv4', 'eiv5', 'eiv6a', 'eiv6b', 'eiv6c', 'eiv6d', 'eiv6e', 'eiv6f', 'eiv7', 'eghqa', 'eghqb', 'eghqc', 'eghqd', 'eghqe', 'eghqf', 'eghqg', 'eghqh', 'eghqi', 'eghqj', 'eghqk', 'eghql', 'eopfama', 'eopfamb', 'eopfamc', 'eopfamd', 'eopfame', 'eopfamf', 'eopfamg', 'eopfamh', 'eopfami', 'essupa', 'essupb', 'essupc', 'essupd', 'essupe', 'essup1', 'essupr2r', 'eprrs2i', 'epripn', 'eprwhy', 'epplevr', 'eprfehq', 'eprsehq', 'epresbgm', 'epresbgy', 'epresly', 'eprf101', 'eprf102', 'eprf116', 'eprf125', 'eprf131', 'eprf134', 'eprf135', 'eprf137', 'eprf139', 'eprf141', 'eprfirn', 'eprearn', 'eprjbbgm', 'eprjbbgy', 'eprjbly', 'eprfitb', 'eivpa', 'eivpb', 'eivpc', 'eivpd', 'eivpe', 'etelwhy', 'eprjbft', 'etlfiyrl', 'etlfiyr', 'pid', 'pidp', 'eiviow4', 'ehhmem', 'enewhy', 'enemnjn', 'eneyrjn', 'eivfio', 'eiodc', 'ehgr2r', 'ehgsex', 'ehgby', 'emastat', 'ehgspn', 'ehgemp', 'ehgfno', 'ehgmno', 'ehgra', 'eage', 'eage12', 'ebutype', 'ebuno', 'enchild', 'ehoh', 'erach16', 'esampst', 'emovest', 'eregion', 'ehhsize', 'ehhtype', 'etenure', 'eqfedhi', 'eqfvoc', 'eqfachi', 'ejbft', 'epayg', 'epayn', 'epaygu', 'epaynu', 'epaygty', 'epaygly', 'epaynty', 'epaynly', 'ejsprof', 'ejspayg', 'ecjsten', 'ecjswk9', 'ejlid', 'ejlyid', 'ejtyid', 'ejbseg', 'ejbgold', 'ejbrgsc', 'ejbcssm', 'ejbcssf', 'ejbhgs', 'ejbsec', 'enjbwks', 'enjuwks', 'enjiwks', 'enjbnew', 'enjbsp', 'enjusp', 'enjisp', 'ejbstatl', 'ejbstatt', 'ejlseg', 'ejlgold', 'ejlrgsc', 'ejlcssm', 'ejlcssf', 'ejlhgs', 'ejlsec', 'enorgm', 'enorga', 'evote', 'efimnp', 'efimnb', 'efimni', 'efimnt', 'efimnl', 'efimnnl', 'efimn', 'efiyrl', 'efiyrnl', 'efiyrp', 'efiyrb', 'efiyrt', 'efiyri', 'efiyr', 'efihhmn', 'ehlghq1', 'ehlghq2', 'espjb', 'espjbhr', 'espjbot', 'esppayg', 'espjbyr', 'elrwght', 'elewght', 'exrwght', 'exewght', 'ej2payi', 'efiyrdii', 'eprearni', 'eprfitbi', 'epaygui', 'epaynui', 'epaygti', 'epaygli', 'epaynti', 'epaynli', 'ejsprofi', 'ejspaygi', 'efimnpi', 'efimnbi', 'efimnii', 'efimnti', 'efimnnli', 'efimnli', 'efimnthi', 'efiyrli', 'efiyrnli', 'efiyrpi', 'efiyrbi', 'efiyrti', 'efiyrii', 'efiyeari', 'esppaygi', 'efihhmni', 'eevent1', 'eevent1s', 'eevent2', 'eevent2s', 'eevent3', 'eevent3s', 'eevent4', 'eevent4s', 'emrjend', 'emrjsic', 'emrjsemp', 'emrjboss', 'emrjmngr', 'emrjsize', 'emrjseg', 'emrjgold', 'emrjrgsc', 'emrjcssm', 'emrjcssf', 'emrjhgs', 'emrjsec', 'edoiy4', 'eplnowy4', 'eedendy4', 'emlchy4', 'eyr2uk4', 'ejbbgy4', 'ejsprby4', 'ejsprey4', 'ejspyby4', 'ejspyey4', 'ejsbgy4', 'ecjsbgy4', 'ejlend4', 'epenb4y4', 'epenyr4', 'epresby4', 'eprjbby4', 'eneyrjn4', 'esppid', 'efpid', 'empid', 'edistmov', 'eregion2', 'eisced', 'ecasmin', 'ejbsoc_cc', 'ejlsoc_cc', 'ej2soc_cc', 'ejusoc_cc', 'ejbsocly_cc', 'espsoc_cc', 'emrjsoc_cc', 'ejbiscon_cc', 'ejliscon_cc', 'emrjiscn_cc', 'ejbisco_cc', 'ejlisco_cc', 'emrjisco_cc', 'eplbornc_cc']

In [5]:
# Loading variables of interest from 1995 BHPS dataset into dataframe
df_residence = df_residence[["eopsocc","eopsocd","eopsoce","efiyr","efetype","eage12","ejbstatt","eregion2", "eplbornc_cc"]]

In [6]:
# Dropping rows if they donot have any spatial information
df_residence = df_residence[~df_residence["eregion2"].isin(["don't know", "inapplicable", "missing or wild", "refused"])]

In [7]:
# To view columns
df_residence.head()

,eopsocc,eopsocd,eopsoce,efiyr,efetype,eage12,ejbstatt,eregion2,eplbornc_cc
0,proxy and/or phone,proxy and/or phone,proxy and/or phone,proxy and/or phone,inapplicable,58.0,proxy and/or phone,London,proxy and/or phone
1,Agree,Disagree,Disagree,75532.59375,inapplicable,61.0,In paid employ,London,inapplicable
2,Agree,Agree,Disagree,514.2568359375,inapplicable,53.0,Self employed,London,inapplicable
3,Agree,"Not agree, disagree",Strongly disagree,0.0,inapplicable,16.0,"FT studt, school",London,australia
4,proxy and/or phone,proxy and/or phone,proxy and/or phone,proxy and/or phone,inapplicable,50.0,proxy and/or phone,London,proxy and/or phone

In [8]:
# create an empty dataframe
output_df = pd.DataFrame()

# Group the dataframe by county and calculate standard deviation of age : "aage12"
output_df["std_dev_age"] = df_residence.groupby("eregion2")["eage12"].agg("std")

# Group the dataframe by county and number of people born in UK : "eplbornc_cc"
output_df["born"] = df_residence.groupby("eregion2")["eplbornc_cc"]

# Assuming inapplicable as people born in UK to all others
def native_share(x):
    pop_count = list(x["born"][1])
    native_count = pop_count.count("inapplicable")/len(pop_count)
    return native_count

# calculating fraction of natives in each county
output_df["native_share"] = output_df.apply(lambda x: native_share(x), axis = 1)

# Dropping "born" groupby column
output_df = output_df.drop(columns = ["born"], axis = 1)

# Creating efetype_dict based on PDF from 1995 BHPS data
efetype_dict = {"Nursing school etc" : 1, "College of f educ" : 2, "Other trng establmnt" : 3, "Polytechnic" : 4, \
                "University" : 5, "None of the above" : 7, "don't know" : -1, "missing or wild" : -9, \
                    "inapplicable" : -8, "proxy and/or phone" : -7, "refused" : -2}


# Create a new column "efetype_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["efetype_encoded"] = df_residence["efetype"].replace(efetype_dict)

# Group the dataframe by county and "efetype_encoded"
output_df["education"] = df_residence.groupby("eregion2")["efetype_encoded"]

# function to calculate dissimilarity in education
def dissimilarity_education(x):
    # loads tuple element into job
    job = x["education"][1]
    # loads frequency of each education type in county as list
    freq = list(job.value_counts())
    # calculates total number of groups
    s = len(freq)
    dissim_index = 0
    for i in freq:
        # formula of dissimilarity index
        dissim_index += 0.5 * abs(i-(1/s))
    return dissim_index

def region_name(x):
    return x["education"][0]

output_df["education_variability"] = output_df.apply(lambda x: dissimilarity_education(x), axis = 1)
output_df["region_name"] = output_df.apply(lambda x: region_name(x), axis = 1)

# Dropping "education" groupby column
output_df = output_df.drop(columns = ["education"], axis = 1)

# Creating ejbstatt_dict based on PDF from 1995 BHPS data
ejbstatt_dict = {"Self employed" : 1, "In paid employ" : 2, "Unemployed" : 3, "Retired" : 4, "Maternity leave" : 5, \
                    "Family care" : 6,  "FT studt, school" : 7, " LT sick, disabld" : 8, \
                    "Govt trng scheme" : 9, "Something else" : 10, "don't know" : -1, "missing or wild" : -9, \
                    "inapplicable" : -8, "proxy" : -7, "refused" : -2}


# Create a new column "ejbstatt_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["ejbstatt_encoded"] = df_residence["ejbstatt"].replace(ejbstatt_dict)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
output_df["job"] = df_residence.groupby("eregion2")["ejbstatt_encoded"]

# function to calculate dissimilarity in job
def dissimilarity_job(x):
    job = x["job"][1]
    freq = list(job.value_counts())
    s = len(freq)
    dissim_index = 0
    for i in freq:
        dissim_index += 0.5 * abs(i-(1/s))
    return dissim_index

# function to calculate fraction of employed people within each county
def frac_employed(x):
    job = list(x["job"][1])
    frac_emp = (job.count(2)/len(job))
    return frac_emp

output_df["job_variability"] = output_df.apply(lambda x: dissimilarity_job(x), axis = 1)
output_df ["frac_employed"] = output_df.apply(lambda x: frac_employed(x), axis = 1)

# Dropping "education" groupby column
output_df = output_df.drop(columns = ["job"], axis = 1)

# replacing all Not-A-Number cases to zero i.e., proxy values
df_residence["efiyr"] = df_residence["efiyr"].replace("proxy and/or phone",0)

# Group the dataframe by county and calculate median based on self-reported annual income: "efiyr"
output_df["median_income"] = df_residence.groupby("eregion2")["efiyr"].agg(["median"])

# convert "efiyr" column to float data type
df_residence["efiyr"] = df_residence["efiyr"].astype("float32")

# group incomes by county
output_df["income"] = df_residence.groupby("eregion2")["efiyr"]

def gini_index(x):
    data = list(x["income"][1])
    # sort the data in ascending order
    sorted_data = np.sort(data)
    # calculate the cumulative sum of the sorted data
    cumsum_data = np.cumsum(sorted_data)
    # calculate the Lorenz curve values
    lorenz_curve = cumsum_data / cumsum_data[-1]
    # calculate the area under the Lorenz curve
    area_lorenz_curve = np.trapz(lorenz_curve, dx=1/len(data))
    # calculate the Gini index
    gini_index = 1 - 2 * area_lorenz_curve
    return gini_index

output_df["gini_index"] = output_df.apply(lambda x : gini_index(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["income"], axis = 1)

output_df

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index
eregion2,,,,,,,,
East Midlands,18.929772,0.946183,399.0,East Midlands,399.0,0.446809,6427.445312,0.485968
East of England,18.511457,0.953883,411.5,East of England,411.5,0.470874,7721.132812,0.497099
London,17.650852,0.938341,445.5,London,445.5,0.487668,8279.160645,0.520353
North East,18.640090,0.964623,211.5,North East,211.5,0.464623,6390.706543,0.455352
North West,18.636682,0.955357,559.5,North West,559.5,0.468750,6927.100586,0.496123
Scotland,18.132051,0.934602,420.0,Scotland,420.0,0.475624,6681.736328,0.497527
South East,18.151452,0.946148,668.0,South East,668.0,0.504114,7912.114746,0.494032
South West,19.026620,0.940828,422.0,South West,422.0,0.455621,6339.334961,0.494527
Wales,18.734239,0.947262,246.0,Wales,246.0,0.399594,6077.859863,0.458942
West Midlands,18.253225,0.966460,402.0,West Midlands,402.0,0.475776,6500.000000,0.484510
Yorkshire & Humber,18.856288,0.967404,429.0,Yorkshire & Humber,429.0,0.462165,6588.619141,0.471141

In [9]:
# Define the dictionary to encode the "eopsocc" column which is Statement 1 (S1)
# S1: "Private enterprise is the best way to solve Britain’s economic problems."
eopsocc_dict = {"Strongly agree": 2,"Agree":1, "Not agree, disagree": 0 , "Disagree":-1 , "Strongly disagree": -2,
                "don't know": -3 , "missing or wild": -3, "inapplicable":-3,
                "proxy and/or phone":-3, "refused":-3}

# Create a new column "eopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["eopsocc_encoded"] = df_residence["eopsocc"].replace(eopsocc_dict)

#remove -3 valued rows from df_residence[jopsocc_encoded]
df_residence = df_residence[df_residence['eopsocc_encoded'] != -3]

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S1"] = df_residence.groupby("eregion2")["eopsocc_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("eregion2")["eopsocc_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("eregion2")["eopsocc_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S1"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and eopsocc_encoded values
output_df["dkp"] = df_residence.groupby("eregion2")["eopsocc_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S1"] = output_df.apply(lambda x: duca_saving(x)*1000, axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

output_df

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1
eregion2,,,,,,,,,,,
East Midlands,18.929772,0.946183,399.0,East Midlands,399.0,0.446809,6427.445312,0.485968,0.843213,0.726141,1.394025
East of England,18.511457,0.953883,411.5,East of England,411.5,0.470874,7721.132812,0.497099,0.853691,0.725131,1.004499
London,17.650852,0.938341,445.5,London,445.5,0.487668,8279.160645,0.520353,0.858060,0.761139,0.376180
North East,18.640090,0.964623,211.5,North East,211.5,0.464623,6390.706543,0.455352,0.818051,0.719794,1.236752
North West,18.636682,0.955357,559.5,North West,559.5,0.468750,6927.100586,0.496123,0.880076,0.776119,0.954488
Scotland,18.132051,0.934602,420.0,Scotland,420.0,0.475624,6681.736328,0.497527,0.874789,0.808540,0.540013
South East,18.151452,0.946148,668.0,South East,668.0,0.504114,7912.114746,0.494032,0.785931,0.677075,0.894840
South West,19.026620,0.940828,422.0,South West,422.0,0.455621,6339.334961,0.494527,0.854575,0.723179,2.122681
Wales,18.734239,0.947262,246.0,Wales,246.0,0.399594,6077.859863,0.458942,0.844509,0.803204,0.744511
West Midlands,18.253225,0.966460,402.0,West Midlands,402.0,0.475776,6500.000000,0.484510,0.855368,0.724658,1.605215
Yorkshire & Humber,18.856288,0.967404,429.0,Yorkshire & Humber,429.0,0.462165,6588.619141,0.471141,0.810283,0.735589,0.855864

In [10]:
# Define the dictionary to encode the "eopsocd" column which is Statement 2 (S2)
# S2: "Major public services and industries ought to be in state ownership."

eopsocd_dict = {"Strongly agree": 2,"Agree":1, "Not agree, disagree": 0 , "Disagree":-1 , "Strongly disagree": -2,
                "don't know": -3, "missing or wild": -3, "inapplicable":-3, "proxy and/or phone":-3, "refused":-3}

# Create a new column "eopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["eopsocd_encoded"] = df_residence["eopsocd"].replace(eopsocd_dict)

#remove -3 valued rows from df_residence[jopsocc_encoded]
df_residence = df_residence[df_residence['eopsocd_encoded'] != -3]

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S2"] = df_residence.groupby("eregion2")["eopsocd_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("eregion2")["eopsocd_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("eregion2")["eopsocd_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S2"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and aopsocc_encoded values
output_df["dkp"] = df_residence.groupby("eregion2")["eopsocd_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S2"] = output_df.apply(lambda x: duca_saving(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

In [11]:
# Define the dictionary to encode the "eopsocd" column which is Statement 3 (S3)
# S3: "It is the government’s responsibility to provide a job for everyone who wants one."

eopsoce_dict = {"Strongly agree": 2,"Agree":1, "Not agree, disagree": 0 , "Disagree":-1 , "Strongly disagree": -2,
                "don't know": -3 , "missing or wild": -3, "inapplicable":-3, "proxy and/or phone":-3, "refused":-3}

# Create a new column "eopsocd_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence["eopsoce_encoded"] = df_residence["eopsoce"].replace(eopsoce_dict)

#remove -3 valued rows from df_residence[jopsocc_encoded]
df_residence = df_residence[df_residence['eopsoce_encoded'] != -3]

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S3"] = df_residence.groupby("eregion2")["eopsoce_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("eregion2")["eopsoce_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("eregion2")["eopsoce_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S3"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and eopsocc_encoded values
output_df["dkp"] = df_residence.groupby("eregion2")["eopsoce_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S3"] = output_df.apply(lambda x: duca_saving(x)*1000, axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

output_df

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1,Lindqvist_Ostling_S2,Abramowitz_Saunders_S2,Duca_Saving_S2,Lindqvist_Ostling_S3,Abramowitz_Saunders_S3,Duca_Saving_S3
eregion2,,,,,,,,,,,,,,,,,
East Midlands,18.929772,0.946183,399.0,East Midlands,399.0,0.446809,6427.445312,0.485968,0.843213,0.726141,1.394025,1.008246,0.852113,0.001214,1.131366,0.949153,1.878866
East of England,18.511457,0.953883,411.5,East of England,411.5,0.470874,7721.132812,0.497099,0.853691,0.725131,1.004499,0.977064,0.828457,0.000922,1.089602,0.922667,2.041536
London,17.650852,0.938341,445.5,London,445.5,0.487668,8279.160645,0.520353,0.858060,0.761139,0.376180,0.984581,0.873897,0.000884,1.188591,0.961929,3.195147
North East,18.640090,0.964623,211.5,North East,211.5,0.464623,6390.706543,0.455352,0.818051,0.719794,1.236752,0.978367,0.837270,0.001336,0.992494,0.950000,0.161722
North West,18.636682,0.955357,559.5,North West,559.5,0.468750,6927.100586,0.496123,0.880076,0.776119,0.954488,1.038682,0.899288,0.001155,1.091857,0.967280,1.398335
Scotland,18.132051,0.934602,420.0,Scotland,420.0,0.475624,6681.736328,0.497527,0.874789,0.808540,0.540013,0.962221,0.874471,0.000955,1.139900,0.988701,1.264510
South East,18.151452,0.946148,668.0,South East,668.0,0.504114,7912.114746,0.494032,0.785931,0.677075,0.894840,0.919018,0.800664,0.000520,1.080334,0.919234,1.218511
South West,19.026620,0.940828,422.0,South West,422.0,0.455621,6339.334961,0.494527,0.854575,0.723179,2.122681,1.007488,0.833784,0.002341,1.048865,0.900950,1.723318
Wales,18.734239,0.947262,246.0,Wales,246.0,0.399594,6077.859863,0.458942,0.844509,0.803204,0.744511,1.055019,0.908879,0.001657,1.016852,1.011737,1.629828
West Midlands,18.253225,0.966460,402.0,West Midlands,402.0,0.475776,6500.000000,0.484510,0.855368,0.724658,1.605215,0.997036,0.846797,0.000665,1.051652,0.914566,1.975061
Yorkshire & Humber,18.856288,0.967404,429.0,Yorkshire & Humber,429.0,0.462165,6588.619141,0.471141,0.810283,0.735589,0.855864,0.885666,0.830573,0.000352,1.085663,0.928480,1.717026

In [12]:
output_df.reset_index(drop=True, inplace=True)
output_df

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1,Lindqvist_Ostling_S2,Abramowitz_Saunders_S2,Duca_Saving_S2,Lindqvist_Ostling_S3,Abramowitz_Saunders_S3,Duca_Saving_S3
0,18.929772,0.946183,399.0,East Midlands,399.0,0.446809,6427.445312,0.485968,0.843213,0.726141,1.394025,1.008246,0.852113,0.001214,1.131366,0.949153,1.878866
1,18.511457,0.953883,411.5,East of England,411.5,0.470874,7721.132812,0.497099,0.853691,0.725131,1.004499,0.977064,0.828457,0.000922,1.089602,0.922667,2.041536
2,17.650852,0.938341,445.5,London,445.5,0.487668,8279.160645,0.520353,0.858060,0.761139,0.376180,0.984581,0.873897,0.000884,1.188591,0.961929,3.195147
3,18.640090,0.964623,211.5,North East,211.5,0.464623,6390.706543,0.455352,0.818051,0.719794,1.236752,0.978367,0.837270,0.001336,0.992494,0.950000,0.161722
4,18.636682,0.955357,559.5,North West,559.5,0.468750,6927.100586,0.496123,0.880076,0.776119,0.954488,1.038682,0.899288,0.001155,1.091857,0.967280,1.398335
5,18.132051,0.934602,420.0,Scotland,420.0,0.475624,6681.736328,0.497527,0.874789,0.808540,0.540013,0.962221,0.874471,0.000955,1.139900,0.988701,1.264510
6,18.151452,0.946148,668.0,South East,668.0,0.504114,7912.114746,0.494032,0.785931,0.677075,0.894840,0.919018,0.800664,0.000520,1.080334,0.919234,1.218511
7,19.026620,0.940828,422.0,South West,422.0,0.455621,6339.334961,0.494527,0.854575,0.723179,2.122681,1.007488,0.833784,0.002341,1.048865,0.900950,1.723318
8,18.734239,0.947262,246.0,Wales,246.0,0.399594,6077.859863,0.458942,0.844509,0.803204,0.744511,1.055019,0.908879,0.001657,1.016852,1.011737,1.629828
9,18.253225,0.966460,402.0,West Midlands,402.0,0.475776,6500.000000,0.484510,0.855368,0.724658,1.605215,0.997036,0.846797,0.000665,1.051652,0.914566,1.975061
10,18.856288,0.967404,429.0,Yorkshire & Humber,429.0,0.462165,6588.619141,0.471141,0.810283,0.735589,0.855864,0.885666,0.830573,0.000352,1.085663,0.928480,1.717026

In [13]:
output_df.to_csv(r"C:\Users\ramak\Desktop\Geog573_Lab\Geog_575_final_project\Final_output\polarization1995_data.csv")